{{#section 'style'}}
  <link rel=stylesheet href=/css/bibliography.css>
{{/section}}

<main id=chitimacha>

  <h1>Chitimacha</h1>

  <section>

    <h1>Introduction</h1>

    <p>Chitimacha (<i lang=ctm>Sitimaxa</i>; ISO-639: <code>ctm</code>, Glottolog: <code>chit1248</code>) is a language isolate of southern Louisiana. Even though the last native speaker of the language died in 1940, the Chitimacha Tribe is undergoing active language revitalization efforts based on documentary materials collected by John R. Swanton and Morris Swadesh in the early 1900s. Today children take daily Chitimacha language classes at the tribal school. I have worked with the Chitimacha Tribe since 2008 on various language revitalization projects, including <cite>Rosetta Stone</cite> language software, a dictionary, and pedagogical materials for the classroom. I have also researched on numerous aspects of the grammar and history of the language, including the diachronic development of preverbs (2014, 2014, forthcoming), valency and transitivity (2016, 2017), and grammatical relations and semantic alignment (i.e. agent-patient alignment; 2014, in revision).</p>

  </section>

  <section>

    <h1>About the Annotated Bibliography</h1>

    <p>The following bibliography aims to be a comprehensive list of the Chitimacha language, its grammar, and its history. It is a work in progress, and I update it whenever possible. It includes the following types of sources:</p>

    <ol>
      <li><em>Primary:</em> audiovisual recordings, field notes, or firsthand accounts of the Chitimacha language</li>
      <li><em>Secondary:</em> grammatical descriptions, dictionaries, and text collections of the language, as well as articles or other sources that include some Chitimacha data, including comparative historical studies</li>
      <li><em>Tertiary:</em> general reference works such as encyclopedias, bibliographies, and language surveys, as well as Chitimacha data included as part of large typological or historical studies</li>
      <li><em>Minor:</em> sources in which Chitimacha is mentioned but do not rely on data from the language</li>
    </ol>

  </section>

  <section>

    <h1>Bibliography</h1>

    {{> bibliography references}}

  </section>

</main>
