{{#section 'style'}}
  <link rel=stylesheet href=/css/bibliography.css>
{{/section}}

<main id=chitimacha class=bibliography-page>

  <h1>Chitimacha</h1>

  <nav id=contents class=section>
    <header class=section-header>
      <h1>Contents</h1>
    </header>
    <ul class=bulleted>
      <li><p><a href=#introduction>Introduction</a></p></li>
      <li><p><a href=#names>Names for Chitimacha</a></p></li>
      <li><p><a href=#about>About the Annotated Bibliography</a></p></li>
      <li><p><a href=#bibliography>Annotated Bibliography</a></p></li>
    </ul>
  </nav>

  <section id=introduction class=section>

    <header class=section-header>
      <h1>Introduction</h1>
      <p><a href=#contents>Back to Top</a></p>
    </header>

    <p>Chitimacha (<i lang=ctm>Sitimaxa</i>; ISO-639: <code>ctm</code>, Glottolog: <code>chit1248</code>) is a language isolate of southern Louisiana. Even though the last native speaker of the language died in 1940, the Chitimacha Tribe is undergoing active language revitalization efforts based on documentary materials collected by John R. Swanton and Morris Swadesh in the early 1900s. Today children take daily Chitimacha language classes at the tribal school. I have worked with the Chitimacha Tribe since 2008 on various language revitalization projects, including <cite>Rosetta Stone</cite> language software, a dictionary, and pedagogical materials for the classroom. I have also researched on numerous aspects of the grammar and history of the language, including the diachronic development of preverbs (2014a, 2014b, forthcoming), valency and transitivity (2016, 2017), and grammatical relations and semantic alignment (i.e. agent-patient alignment; 2014, in revision).</p>

  </section>

  <section id=names class=section>

    <header class=section-header>
      <h1>Names for Chitimacha</h1>
      <p><a href=#contents>Back to Top</a></p>
    </header>

    <p>
      The name ‘Chitimacha’ has been written numerous ways over the centuries. Only in the latter half of the 20th Century, as a result of several publications by Morris Swadesh (esp. 1934, 1946), was the English name for the language standardized as <span lang=en>‹Chitimacha›</span>. This fact sometimes makes it difficult to locate and recognize mentions of the Chitimacha in older documents. The following list is meant to help address this problem, by providing all known orthographic representations of the word <i lang=en>Chitimacha</i> before Swadesh, and their attested sources.
    </p>

    <ul class=bulleted>
      <li><p><strong>Chetemachas</strong> (<a href=#Gallatin1848>Gallatin 1848:77</a>)</p></li>
      <li><p><strong>Chetimacha</strong> (Latham <a href=#Latham1845>1845:35–50</a>, <a href=#Latham1860>1860:293</a>)</p></li>
      <li><p><strong>Chetimachas</strong> (Gallatin <a href=#Gallatin1836>1836:306</a>, <a href=#Gallatin1848>1848:xcix</a>, <a href=#Gallatin1853>1853:402</a>; <a href=#Latham1850>Latham 1850:341</a>)</p></li>
      <li><p><strong>Chetimaches</strong> (<a href=#Bradford1906>Bradford 1906</a>)</p></li>
      <li><p><strong>Chitimacha</strong> (Bartlett <a href=#Bartlettnd>n.d.</a>, <a href=#Bartlett1848>1848</a>; <a href=#Gatschet1907>Gatschet 1907:286</a>; <a href=#Powell1891>Powell 1891</a>; <a href=#Swanton1935>Swanton 1935</a>; <a href=#Wissler1922>Wissler 1922</a>)</p></li>
      <li><p><strong>Chitimachas</strong> (<a href=#Gallatin1836>Gallatin 1836:114</a>; <a href=#Prichard1847>Prichard 1847:407</a>)</p></li>
      <li><p><strong>Chitimasha</strong> (<a href=#Speck1907>Speck 1907:294</a>)</p></li>
      <li><p><strong>Shetimasha</strong> (<a href=#Boas1932>Boas 1932</a>; Gatschet <a href=#Gatschet1883>1883:148</a>, <a href=#Gatschet1884>1884:44</a>, <a href=#Gatschet1887>1887:414</a>)</p></li>
      <li><p><strong>Shyoutémacha</strong> (early French form; <a href=#Gatschet1883>Gatschet 1883:150</a>)</p></li>
      <li><p><strong>Tchikĕmahá</strong> (Alibamu name; <a href=#Gatschet1883>Gatschet 1883:150</a>)</p></li>
      <li><p><strong>Tchitimachas</strong> (<a href=#duPratz1758>du Pratz 1758:83</a>)</p></li>
      <li><p><strong>Tchoutymacha</strong> (early French form; <a href=#Gatschet1883>Gatschet 1883:150</a>)</p></li>
      <li><p><strong>Yachimichas</strong> (mentioned with the Chitimacha, but probably the same; <a href=#Martin1827>Martin 1827:167</a>)</p></li>
    </ul>

  </section>

  <section id=about class=section>

    <header class=section-header>
      <h1>About the Annotated Bibliography</h1>
      <p><a href=#contents>Back to Top</a></p>
    </header>

    <p>The following bibliography aims to be a comprehensive list of the Chitimacha language, its grammar, and its history. It is a work in progress, and I update it whenever possible. It includes the following types of sources:</p>

    <ol class=bulleted>
      <li><em>Primary:</em> audiovisual recordings, field notes, or firsthand accounts of the Chitimacha language</li>
      <li><em>Secondary:</em> grammatical descriptions, dictionaries, and text collections of the language, as well as articles or other sources that include some Chitimacha data, including comparative historical studies</li>
      <li><em>Tertiary:</em> general reference works such as encyclopedias, bibliographies, and language surveys, as well as Chitimacha data included as part of large typological or historical studies</li>
      <li><em>Minor:</em> sources in which Chitimacha is mentioned but do not rely on data from the language</li>
    </ol>

  </section>

  <section id=bibliography class=section>

    <header class=section-header>
      <h1>Annotated Bibliography</h1>
      <p><a href=#contents>Back to Top</a></p>
    </header>

    {{> bibliography references}}

  </section>

</main>
