{{#section 'style'}}
<style>

#languages ol {
  align-self:center;
}

</style>
{{/section}}

<main id=languages>

  <h1>Languages</h1>

  <ol class=bulleted>
    <li><a class=boldLink href=/languages/chitimacha>Chitimacha (<i lang=ctm>Sitimaxa</i>)</a></li>
    <li><a class=boldLink href=/languages/kisii>Kisii (<i lang=guz>Ékegusií</i>)</a></li>
    <li><a class=boldLink href=/languages/mixtec>Tlahuapa Mixtec (<i lang=jmx>Tùʼun Sàví</i>)</a></li>
  </ol>

</main>
