{{#head 'lang-life'}}
  <link rel=stylesheet href={{cdn}}/css/lang-life.css>
{{/head}}

<main id={{id}}>

  <h2 class=header-page>{{pageTitle}}</h2>

  <section>

    <h3 class=header-section>Course Description</h3>

    <p>{{> teaching/lang-life/description}}</p>

  </section>

  <section>

    <h3 class=header-section>Textbooks</h3>

    <ul class=bulleted>

      <li>
        <p>
          <a href=https://www.amazon.com/Minute-Linguist-Bite-Sized-Language-Languages/dp/1908049499/ref=sr_1_1>E. M. Rickerson & Barry Hilton (eds.). 2012. <cite>The five-minute linguist</cite> (2<sup>nd</sup> ed.). Equinox.</a>
        </p>
      </li>

      <li>
        <p>
          <a href=https://www.amazon.com/Language-Myths-Laurie-Bauer-ebook/dp/B002VBV1OA/ref=sr_1_1_twi_kin_2>Laurie Bauer & Peter Trudgill (eds.). 1998. <cite>Language myths</cite>. Penguin Books.</a>
        </p>
      </li>

    </ul>

  </section>

  <section>

    <h3 class=header-section>Schedule</h3>

    <table>
      <tbody>
        <tr>
          <td>Week 1</td>
        </tr>
        <tr>
          <td>Week 2</td>
        </tr>
        <tr>
          <td>Week 3</td>
        </tr>
        <tr>
          <td>Week 4</td>
        </tr>
        <tr>
          <td>Week 5</td>
        </tr>
        <tr>
          <td>Week 6</td>
        </tr>
        <tr>
          <td>Week 7</td>
        </tr>
        <tr>
          <td>Week 8</td>
        </tr>
        <tr>
          <td>Week 9</td>
        </tr>
        <tr>
          <td>Week 10</td>
        </tr>
        <tr>
          <td>Week 11</td>
        </tr>
        <tr>
          <td>Week 12</td>
        </tr>
        <tr>
          <td>Week 13</td>
        </tr>
        <tr>
          <td>Week 14</td>
        </tr>
        <tr>
          <td>Week 15</td>
        </tr>
      </tbody>
    </table>

  </section>

</main>
