@import 'views/components/bulleted.less';
@import 'views/components/header-page.less';
@import 'views/components/header-section.less';

#lang-life {

  align-self: center;
  max-width:  var(--measure);
  padding:    var(--padding-main);

  .header-section {
    margin-bottom: 0.5em;
  }

  section {
    margin-bottom: var(--padding-box);
  }

}
