{{#section 'style'}}
  <link rel=stylesheet href=/css/categories.css charset=utf-8>
{{/section}}

<main id=categoriesAdmin>

  <h1>Categories Admin</h1>

  <section id=overview>
    <ol     id=categoriesList></ol>
    <button id=addCategoryButton type=button name=addCategory>Add Category</button>
  </section>

  <form id=details>

    <input id=name type=text name=name placeholder="Category Name" required>

    <label for=id>
      <p>ID</p>
      <input id=id type=text name=id pattern="^[a-z]{1,255}$" placeholder=categoryid required>
    </label>

    <label for=description>
      <p>Description</p>
      <textarea
        id=description
        name=description
        rows=8
        placeholder="A description of the category, written in Markdown (including HTML)."
        required>
      </textarea>
    </label>

    <div>
      <button id=saveButton   type=submit name=saveButton  >Save</button>
      <button id=deleteButton type=button name=deleteButton>Delete</button>
    </div>

  </form>

</main>

{{#section 'script'}}
  <script src=/js/core/emitter.js          charset=utf-8></script>
  <script src=/js/core/model.js            charset=utf-8></script>
  <script src=/js/core/collection.js       charset=utf-8></script>
  <script src=/js/core/view.js             charset=utf-8></script>
  <script src=/js/models/category.js         charset=utf-8></script>
  <script src=/js/views/category-view.js   charset=utf-8></script>
  <script src=/js/views/categories-view.js charset=utf-8></script>
  <script src=/js/pages/categories.js      charset=utf-8></script>
{{/section}}
