{{#section 'style'}}
  <link rel=stylesheet href=/css/categories.css charset=utf-8>
{{/section}}

<main id=categoriesAdmin>

  <h1>Categories Admin</h1>

  <section id=categoryList>
    <ol></ol>
    <button type=button name=addCategory>Add Category</button>
  </section>

  <section id=details>
    <h2></h2>
    <p></p>
    <p></p>
    <div>
      <button id=saveButton   type=button name=saveButton  >Save</button>
      <button id=deleteButton type=button name=deleteButton>Delete</button>
    </div>
  </section>

</main>

{{#section 'script'}}
  <script src=/js/core/emitter.js          charset=utf-8></script>
  <script src=/js/core/collection.js       charset=utf-8></script>
  <script src=/js/core/view.js             charset=utf-8></script>
  <script src=/js/views/category-view.js   charset=utf-8></script>
  <script src=/js/views/categories-view.js charset=utf-8></script>
  <script src=/js/pages/categories.js      charset=utf-8></script>
{{/section}}
