{{#section 'style'}}
<style>

  #admin {
    align-items: center;
    font-size: 1.5rem;
  }

  h1 {
    font-size: 2rem;
    font-weight: bold;
  }

  ul {
    align-items: flex-start;
  }

</style>
{{/section}}

<main id=admin>

  <h1>Admin</h1>

  <ul>
    <li><a href=https://blog.danielhieber.com/ghost class=link>Blog</a></li>
    <li><a href=/admin/cv class=link>CV</a></li>
  </ul>

</main>
