@import (reference) '../less/classes.less';

#research {

  align-self: center;
  max-width:  var(--measure);
  padding:    var(--padding-main);

  .description {
    .description;
    padding: 0.5em 0em;
  }

  h2 {
    .page-title;
    font-size: var(--font-size-header);
  }

  h3 {
    .section-header;
    font-size: var(--font-size-large);
  }

  p {
    padding: var(--padding-text);
  }

}
