/**
 * Styling for the Research page
 */

@import (reference) 'less/components/index.less';

#research {

  align-self: center;
  max-width:  var(--measure);
  padding:    var(--padding-main);

  .description {
    .description;
    padding: 0.5em 0em;
  }

  .header-page {
    .header-page;
  }

  .header-section {
    .header-section;
  }

  p {
    padding: var(--padding-text);
  }

}
