@import (reference) '../less/components/index.less';

#research {

  align-self: center;
  max-width:  var(--measure);
  padding:    var(--padding-main);

  .description {
    .description;
    padding: 0.5em 0em;
  }

  .header-page {
    .header-page;
    font-size: var(--font-size-header);
  }

  .header-section {
    .header-section;
    font-size: var(--font-size-large);
  }

  p {
    padding: var(--padding-text);
  }

}
