{{#head 'links'}}

  <!-- Styling for Links partial -->
  <link rel=preload href=/css/links.css as=style onload="this.rel='stylesheet';">

  <noscript>
    <link rel=stylesheet href=/css/links.css>
  </noscript>

{{/head}}

<nav id=links aria-labelledby=links-heading>

  <h1 id=links-heading>Me on the Web</h1>

  <ul>

    <li>
      <a href=http://blog.danielhieber.com>
        <svg class=svg-ghost aria-hidden=true>
          <use href=#ghost></use>
        </svg>
        <span>Blog</span>
      </a>
    </li>

    <li>
      <a href=https://orcid.org/0000-0002-1411-3773>
        <svg class=svg-orcid aria-hidden=true>
          <use href=#orcid></use>
        </svg>
        <span>orcid.org/0000-0002-1411-3773</span>
      </a>
    </li>

    <li>
      <a href=https://ucsb.academia.edu/DanielHieber>
        <svg class=svg-academia aria-hidden=true>
          <use href=#academia></use>
        </svg>
        <span>Academia.edu</span>
      </a>
    </li>

    <li>
      <a href=https://github.com/dwhieb>
        <svg class=svg-octicon aria-hidden=true>
          <use href=#octicon></use>
        </svg>
        <span>GitHub</span>
      </a>
    </li>

    <li>
      <a href=https://www.linkedin.com/in/dwhieb/>
      <svg class=svg-linkedin aria-hidden=true>
        <use href=#linkedin></use>
      </svg>
      <span>LinkedIn</span>
      </a>
    </li>

    <li>
      <a href=https://www.goodreads.com/user/show/15860878-daniel-hieber>
        <svg class=svg-goodreads aria-hidden=true>
          <use href=#goodreads></use>
        </svg>
        <span>Goodreads</span>
      </a>
    </li>

    <li>
      <a href=https://www.facebook.com/dwhieb>
        <svg class=svg-facebook aria-hidden=true>
          <use href=#facebook></use>
        </svg>
        <span>Facebook</span>
      </a>
    </li>

    <li>
      <a href=https://twitter.com/dwhieb>
        <svg class=svg-twitter aria-hidden=true>
          <use href=#twitter></use>
        </svg>
        <span>@dwhieb</span>
      </a>
    </li>

    <li>
      <a href=skype:dwhieb>
        <svg class=svg-skype aria-hidden=true>
          <use href=#skype></use>
        </svg>
        <span>Skype</span>
      </a>
    </li>

    <li>
      <a href=mailto:dhieber@umail.ucsb.edu>
        <svg class=svg-mail aria-hidden=true>
          <use href=#mail></use>
        </svg>
        <span>Email</span>
      </a>
    </li>

  </ul>

</nav>
