{{#head 'links'}}

  <!-- Styling for Links partial -->
  <link rel=preload href=/css/links.css as=style onload="this.rel='stylesheet';">

  <noscript>
    <link rel=stylesheet href=/css/links.css>
  </noscript>

{{/head}}

<nav id=links aria-labelledby=links-heading>

  <h1 id=links-heading>Me on the Web</h1>

  <ul>
    <li><a href=http://blog.danielhieber.com>Blog</a></li>
    <li><a href=https://orcid.org/0000-0002-1411-3773>ORCID</a></li>
    <li><a href=https://ucsb.academia.edu/DanielHieber>Academia.edu</a></li>
    <li><a href=https://github.com/dwhieb>GitHub</a></li>
    <li><a href=https://www.linkedin.com/in/dwhieb/>LinkedIn</a></li>
    <li><a href=https://www.goodreads.com/user/show/15860878-daniel-hieber>Goodreads</a></li>
    <li><a href=https://www.facebook.com/dwhieb>Facebook</a></li>
    <li><a href=https://twitter.com/dwhieb>Twitter</a></li>
    <li><a href=skype:dwhieb>Skype</a></li>
    <li><a href=mailto:dhieber@umail.ucsb.edu>Email</a></li>
  </ul>

</nav>
