<template id=abbreviation-template>

  <label for=abbreviation>

    <b>Abbreviation</b>

    <input id=abbreviation type=text name=abbreviation placeholder=ABBR inputmode=verbatim>

  </label>

</template>
