<template id=achievements-template>

  <fieldset>

    <legend>Achievements</legend>

    <ul>
      <li>

        <input
          inputmode=latin-prose
          placeholder='Brief description of this achievement.'
          type=text
        >

        <img src=/img/delete.svg alt='delete this achievement'>

      </li>
    </ul>

    <button type=button name=addAchievement>Add Achievement</button>

  </fieldset>

</template>
