<template id=autonym-template>

  <label for=autonym>

    <b>Autonym</b>

    <input
      id=autonym
      type=text
      name=autonym
      placeholder=Autonym
      inputmode=full-width-latin
      required
      tabindex=4
    >

  </label>

</template>
