<template id=categories-template>

  <fieldset name=categories>

    <legend>Categories</legend>

    <label>
      <b></b>
      <input type=checkbox name='' value=''>
    </label>

  </fieldset>

</template>
