<template id=competency-template>

  <label>

    <b>Competency</b>

    <select name=competency>
      <option value=beginner>beginner</option>
      <option value=intermediate>intermediate</option>
      <option value=advanced>advanced</option>
      <option value='structural knowledge'>structural knowledge</option>
    </select>

  </label>

</template>
