<template id=description-template>

  <label for=description>
    <b>Description</b>
    <textarea
      id=description
      inputmode=latin-prose
      name=description
      placeholder='A description of this item, in Markdown.'
      rows=8
      tabindex=23
    ></textarea>
  </label>

</template>
