<template id=description-template>

  <label>
    <p>Description</p>
    <textarea
      inputmode=latin-prose
      name=description
      placeholder='A description of this item, in Markdown.'
      rows=8
    ></textarea>
  </label>

</template>
