<template id=key-template>

  <label for=key>

    <b>Key</b>

    <input
      id=key
      inputmode=verbatim
      name=key
      pattern='^[a-z]{1,255}$'
      placeholder='A human-readable key for this item.'
      type=text
    >

  </label>

</template>
