{{#section 'partialStyle'}}
  <link rel=stylesheet href=/css/links.css>
{{/section}}

<nav id=profile-links>
  <h1>Me on the Web</h1>
  <ul>
    <li id=academia-link><a href=http://ucsb.academia.edu/DanielHieber>Academia.edu</a></li>
    <li id=github-link><a href=https://github.com/dwhieb>GitHub</a></li>
    <li id=twitter-link><a href=https://twitter.com/dwhieb>Twitter</a></li>
  </ul>
</nav>
