<template id=location-template>

  <label for=location>

    <b>Location</b>

    <input
      id=location
      type=text
      name=location
      placeholder=Location
      inputmode=latin
      required
      tabindex=19
    >

  </label>

</template>
