<template id=organization-template>

  <label for=organization>

    <b>Organization</b>

    <input id=organization type=text name=organization placeholder=Organization inputmode=latin required>

  </label>

</template>
