<template id=proficiencyType-template>

  <label>

    <p>Profciency Type</p>

    <select name=proficiencyType>
      <option value=skill>skill</option>
      <option value=software>software</option>
    </select>

  </label>

</template>
