<template id=proficiencyType-template>

  <label for=proficiencyType>

    <b>Profciency Type</b>

    <select id=proficiencyType name=proficiencyType>
      <option value=skill>skill</option>
      <option value=software>software</option>
    </select>

  </label>

</template>
