<template id=publication-template>

  <label for=publication>

    <b>Publication</b>

    <input
      id=publication
      inputmode=latin
      name=publication
      placeholder=Publication
      required
      type=text
      tabindex=12
    >

  </label>

</template>
