<template id=startYear-template>

  <label for=startYear>

    <b>Start Year</b>

    <input
      id=startYear
      inputmode=numeric
      max=2100
      min=1986
      placeholder=YYYY
      name=endYear
      type=number
      required
    >

  </label>

</template>
