<template id=startYear-template>

  <label>

    <p>Start Year</p>

    <input
      inputmode=numeric
      max=2100
      min=1986
      placeholder=YYYY
      name=endYear
      type=number
      required
    >

  </label>

</template>
