<section id=templates>
  {{> listItem}}
  {{> forms/abbreviation}}
  {{> forms/achievements}}
  {{> forms/author}}
  {{> forms/autonym}}
  {{> forms/categories}}
  {{> forms/competency}}
  {{> forms/date}}
  {{> forms/description}}
  {{> forms/email}}
  {{> forms/endYear}}
  {{> forms/key}}
  {{> forms/links}}
  {{> forms/location}}
  {{> forms/name}}
  {{> forms/organization}}
  {{> forms/phone}}
  {{> forms/proficiencyType}}
  {{> forms/program}}
  {{> forms/publication}}
  {{> forms/publicationType}}
  {{> forms/role}}
  {{> forms/startYear}}
  {{> forms/title}}
  {{> forms/year}}
</section>
