<template id=title-template>

  <label for=title>

    <b>Title</b>

    <input
      id=title
      inputmode=latin
      name=title
      placeholder=Title
      type=text
      required
      tabindex=3
    >

  </label>

</template>
