@import (reference) 'less/main.less';

.bibliography-page {

  a {
    &:link { color: black; border-bottom: 1px solid white; }
    &:visited { color: black; border-bottom: 1px solid white; }
    &:hover { border-bottom: 1px solid black; }
    &:active { color: black; }
  }

  .abstract,
  .notes,
  {
    margin: 0rem 0rem 1rem 3rem;
  }

  .bibliography {
    .section-header {
      flex-direction: column;
    }
  }

  .citation {
    display: inline;
    margin-bottom: 0.125em;
    margin-left: 3rem;
    text-indent: -3rem;
    summary a {
      .link;
    }
  }

  p a {
    .link;
  }

  .section {
    header {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .section-header {
    border-bottom: 2px solid black;
    font-variant: small-caps;
    font-weight: bold;
    margin: 0.5em 0em;
  }

  strong {
    color: black;
  }

}

// desktop styling
@media screen and (min-width: 700px) {
  .bibliography-page {
    padding: 1.5rem 10%;
  }
}
