@import (reference) 'less/main.less';

#chitimacha {

  section {

    h1 {
      border-bottom: 2px solid black;
      font-variant: small-caps;
      font-weight: bold;
      margin: 0.5em 0em;
    }

    ol {
      .bulleted;
    }

  }

}
