/**
 * Color scheme for the site
 */

:root {

  --blue:   #3180E1;
  --green:  #81E232;
  --orange: #E29232;
  --pink:   #E23281;
  --purple: #9232E2;
  --red:    #E23B32;
  --yellow: #D9E232;

  --purple-opaque: rgba(146, 50, 226, 0.2);

}
