/**
 * Color scheme for the site
 */

:root {

  --blue:   #0F6BD9;
  --green:  #4AA002;
  --pink:   #DC0969;
  --purple: #9232E2;
  --red:    #BD1D15;

  --purple-opaque: rgba(146, 50, 226, 0.2);

}
