@import (reference) 'less/main.less';

button {
  .button;
  margin: 0.5rem;
}

  button,
  #buttons {
    align-self: center;
  }

  #buttons { flex-direction: row; }

#overview > h1,
#details > h1 {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.5rem 0rem;
}

#overview {
  li {
    align-items: center;
    cursor: pointer;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.25rem 0rem;

    img {
      .inlineIcon;
      visibility: hidden;
    }

    &:hover img {
      visibility: visible;
    }
  }
}

#form {

  legend { font-weight: bold; }

  fieldset[name=achievements] li,
  fieldset[name=links] li {
    align-items: center;
    flex-direction: row;
    input {
      .field;
      flex-grow: 1;
    }
    img { height: 2em; }
  }

  fieldset[name=categories] label {
    align-items: center;
    flex-direction: row;
    padding: 0;
    input { margin: 0rem 0.5rem; }
  }

  textarea[name=description] { .field; }

  fieldset[name=files] {
    .inputs,
    li {
      align-items: center;
      flex-direction: row;
      position: relative;
      p { margin-right: 2em; }
      a { .link; }
    }
    img {
      cursor: pointer;
      display: none;
      height: 2em;
      position: absolute;
      right: 0;
      top: auto;
      width: 2em;
    }
    li:hover img { display: flex; }
  }

  label[for=forthcoming] {
    align-items: center;
    flex-direction: row;
    input { margin: 0.5rem; }
  }

  fieldset[name=links] select { margin: 0.5rem; }

  label[for=publicationType]  { order: 1; }
  label[for=author]           { order: 2; }
  label[for=title]            { order: 3; }
  label[for=autonym]          { order: 4; }
  label[for=organization]     { order: 5; }
  label[for=program]          { order: 6; }
  label[for=role]             { order: 7; }
  fieldset[name=date]         { order: 8; }
  label[for=startYear]        { order: 9; }
  label[for=endYear]          { order: 10; }
  label[for=year]             { order: 11; }
  label[for=publication]      { order: 12; }
  label[for=abbreviation]     { order: 13; }
  label[for=key]              { order: 14; }
  label[for=name]             { order: 15; }
  label[for=email]            { order: 16; }
  label[for=phone]            { order: 17; }
  label[for=proficiencyType]  { order: 18; }
  label[for=location]         { order: 19; }
  label[for=competency]       { order: 20; }
  fieldset[name=categories]   { order: 21; }
  fieldset[name=links]        { order: 22; }
  label[for=description]      { order: 23; }
  fieldset[name=achievements] { order: 24; }
  fieldset[name=files]        { order: 25; }

}

  #deleteButton {
    background-color: @red;
  }

// element-specific styling
main > header > h1 { .pageHeader; }

label[for=cv-type] {
  align-self: flex-end;
}

// mobile styling
@media screen and (max-width: 699px) {

  main > * { padding-bottom: 1rem; }

  #overview > h1,
  #details > h1 {
    align-self: center;
  }

  #list {
    align-self: center;
  }

}

// desktop styling
@media screen and (min-width: 700px) {

  main {
    flex-direction: row;
    flex-wrap: wrap;
    header { width: 100%; }
  }

  #overview { width: 40%; }

  #details { width: 60%; }

}
