@import (reference) 'less/main.less';

#profile-links {

  h1 { .sidebar-header; }

  ul { padding: 0.25rem 0.5rem; }

  li {
    flex-direction: row;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 1em;
    padding: 0.25em 1.5em;
  }

  #academia-link {
    background-image: url('/img/icons/academia.svg');
  }

  #facebook-link {
    background-image: url('/img/icons/facebook.svg');
  }

  #github-link {
    background-image: url('/img/icons/github.svg');
  }

  #linkedin-link {
    background-image: url('/img/icons/linkedin.svg');
  }

  #twitter-link {
    background-image: url('/img/icons/twitter.svg');
    background-position: -0.25em center;
    background-size: 1.5em;
  }

}
