/**
 * Styling for the CV Professional References section
 */

#references {
  ol {
    text-align: center;
  }
}

@media screen {
  #references {

    page-break-before: always;

    .cv-item {
      flex-direction: column;
    }

    a {
      color:       var(--blue);
      font-weight: var(--font-weight-bold);
    }

  }
}
