{

  "env": {

    "development": {
      "comments":   true,
      "compact":    false,
      "minified":   false,
      "sourceMaps": true
    },

    "localhost": {
      "comments":   true,
      "compact":    false,
      "minified":   false,
      "sourceMaps": true
    },

    "production": {
      "comments":   false,
      "compact":    true,
      "minified":   true,
      "sourceMaps": false
    }

  },

  "ignore": [],

  "plugins": [],

  "presets": [
    ["env", {
      "exclude": [
        "transform-regenerator"
      ]
    }]
  ],

  "sourceType": "module"

}
