@import url('../../less/fonts.less');
@import url('../../less/reset.less');

:root {
  --font:             'Fira Sans', Calibri, 'DejaVu Sans', Verdana, Arial, Helvetica, sans-serif;
  --font-size:        calc(1em + 0.25vw);
  --font-size-header: calc(2em + 1vw);
  --font-size-large:  calc(1.25em + 0.25vw);
  --font-weight:      300;
}

html {
  font-size: 100%;
}

body {
  font-family: var(--font);
  font-size:   var(--font-size);
  font-weight: var(--font-weight);
  line-height: 1.5;
  overflow-x:  hidden;
}

#header {
  align-items: center;
  overflow: hidden;
  padding: 2em 1em;
  position: relative;
}

#header > * {
  text-align: center;
}

#header > h1 {
  font-size: var(--font-size-header);
}

#header > p {
  font-size: var(--font-size-large);
}

#gallery {
  left:       0;
  min-height: 100%;
  min-width:  100%;
  opacity:    0.2;
  position:   absolute;
  top:        0;
  transform:  translateY(-25%);
}
