/**
 * Styling for headers with a colored background, used main for <aside> content
 */

.header-colored {
  background-color: var(--purple);
  border-radius:    var(--border-radius);
  color:            white;
  font-weight:      var(--font-weight-bold);
  padding:          var(--padding-text);
  white-space:      nowrap;
}
