/**
 * Styling for individual page headers (not banner headers)
 */

.header-page {
  font-size:   var(--font-size-large);
  font-weight: var(--font-weight-bold);
  padding:     var(--padding-wide);
  text-align:  center;
}
