@import 'unicode.less';

// Phonemic transcriptions
.phonemic {

  .unicode;

  hyphens: none;

  &::before {
    content: '/';
    padding-right: var(--padding-ipa);
  }

  &::after {
    content: '/';
    padding-left: var(--padding-ipa);
  }

}
