// IPA rollover text
.rollover {

  position:    relative;
  white-space: nowrap;

  [lang=en-fonipa-x-emic] {
    bottom:     0.025em;
    left:       50%;
    position:   absolute;
    transform:  translateX(-50%);
    visibility: hidden;
  }

  &:hover {

    // The lang tag should omit the default script (Latn), so this just uses "en"
    [lang=en] {
      visibility: hidden;
    }

    [lang=en-fonipa-x-emic] {
      visibility: visible;
    }

  }

}
