/* Styling for pages that consist only of a header and a list of links */

@import (reference) 'less/classes.less';

.toc {

  align-items: center;
  padding:     var(--padding-box);

  .header-page {
    .header-page;
  }

  ul {
    list-style: disc outside none;
  }

  li {
    display: list-item;
  }

  a {
    .link;
  }

}
