{{#head 'personal'}}

  <!-- Styling for Personal page -->
  <link rel=preload href=/css/personal.css as=style onload="this.rel='stylesheet';">

  <noscript>
    <link rel=stylesheet href=/css/personal.css>
  </noscript>

{{/head}}

<main id={{id}}>

  <h1 class=page-title>Personal</h1>

  <nav>
    <ul>
      <li><a href=/recipes>Recipes</a></li>
    </ul>
  </nav>

</main>
