@import (reference) '../less/classes.less';

.page-title { .page-title; }

#personal {

  align-items: center;
  padding:     var(--padding-box);

  ul {
    list-style: disc outside none;
  }

  li {
    display: list-item;
  }

  a {
    .link;
  }

}
