<main id=bibliographies>
  <h1>Bibliographies</h1>
</main>

{{!-- Primary Source Types
- audiovisual recording
- field notes
- firsthand accounts
Secondary Source Types
- grammatical descriptions, dictionaries, and text collections
- journal articles that use isolated data points
Tertiary Source Types
- language data or features included as part of a large typological study
- language surveys, encyclopedias, bibliographies
- data used as part of a large phylogenetic or comparative historical project
Minor Source Types
- mentions of the language in passing, without utilizing any data from the language
* Kindle sources
* BAE Bulletins --}}
