{{#section 'style'}}
  <link rel=stylesheet href=/css/cv.css>
{{/section}}

<!-- CONTEXT
  res.locals.header = false
  lastUpdatedISO - for datetime attribute (yyyy-mm-dd)
  lastUpdatedString - human-readable, for display
-->

<main id=cv-page>

  <aside>

    {{> links}}

    <nav id=contents>
      <h1>Contents</h1>
      <ol></ol>
    </nav>

  </aside>

  <section id=cv>

    <header>
      <img src='/img/headshot.jpg' alt='picture of Daniel W. Hieber' width=500px height=500px>
      <h1>Daniel W. Hieber</h1>
      <h2>/dænjəl hibəɹ/</h2>
      <h2>Ph.D. Candidate in Linguistics</h2>
      <h2>University of California, Santa Barbara</h2>
      <address>
        <p><a href=mailto:dhieber@umail.ucsb.edu>dhieber@umail.ucsb.edu</a></p>
        <p><a href=http://danielhieber.com>www.danielhieber.com</a></p>
        <div>
          <p>Department of Linguistics</p>
          <p>University of California, Santa Barbara</p>
          <p>South Hall 3432</p>
          <p>Santa Barbara, CA 93106-3100</p>
        </div>
      </address>
      <p>
        Last updated: <time datetime={{lastUpdatedISO}}>
          {{lastUpdatedString}}
        </time>
      </p>
    </header>

    <section id=education>
      <header>
        <h1>Education</h1>
        <a href=#>Back to Top</a>
      </header>
    </section>

    <section id=work>
      <header>
        <h1>Professional Experience</h1>
        <a href=#>Back to Top</a>
      </header>
    </section>

    <section id=teaching>
      <header>
        <h1>Teaching</h1>
        <a href=#>Back to Top</a>
      </header>
    </section>

    <section id=awards>
      <header>
        <h1>Awards &amp; Honors</h1>
        <a href=#>Back to Top</a>
      </header>
    </section>

    <section id=publications>
      <header>
        <h1>Publications &amp; Presentations</h1>
        <a href=#>Back to Top</a>
      </header>
    </section>

    <section id=service>
      <header>
        <h1>Service</h1>
        <a href=#>Back to Top</a>
      </header>
    </section>

    <section id=memberships>
      <header>
        <h1>Memberships</h1>
        <a href=#>Back to Top</a>
      </header>
    </section>

    <section id=fieldwork>
      <header>
        <h1>Fieldwork</h1>
        <a href=#>Back to Top</a>
      </header>
    </section>

    <section id=languages>
      <header>
        <h1>languages</h1>
        <a href=#>Back to Top</a>
      </header>
    </section>

    <section id=proficiencies>
      <header>
        <h1>Skills &amp; Proficiencies</h1>
        <a href=#>Back to Top</a>
      </header>
    </section>

    <section id=media>
      <header>
        <h1>Media About Me</h1>
        <a href=#>Back to Top</a>
      </header>
    </section>

    <section id=references>
      <header>
        <h1>References</h1>
        <a href=#>Back to Top</a>
      </header>
    </section>


  </section>

</main>
