{{#section 'style'}}
  <link rel=stylesheet href=/css/home.css charset=utf-8>
{{/section}}

<main id=home>

  <button type=button name=subscribe>Subscribe to my blog!</button>

  <section id=intro class=doc>

    <img id=gradSlam src=/img/grad_slam.jpg alt='me giving my Grad Slam talk'>

    <p>
      I am a graduate student in linguistics at the <a href=http://www.linguistics.ucsb.edu/ target=_blank>University of California, Santa Barbara</a>. I focus on the <strong>documentation</strong>, <strong>description</strong>, and <strong>revitalization</strong> of languages in the <strong>U.S. Southeast</strong> and <strong>East Africa</strong>, with an eye towards <strong>linguistic typology</strong> and <strong>functional theory</strong>. I work primarily with <a href=/languages/chitimacha>Chitimacha</a> (Sitimaxa), an isolate once spoken in Louisiana and now being revived by the Chitimacha Tribe based on archival materials, and <a href=/languages/kisii}}>Kisii</a> (Ékegusií), an underdocumented and endangered Bantu language of western Kenya, where I do fieldwork.
    </p>

    <p>
      Prior to graduate school, I was a linguist with the software company <a href=http://www.rosettastone.com/ target=_blank>Rosetta Stone</a>, where I worked in their <a href=http://www.rosettastone.com/endangered target=_blank>Endangered Language Program</a> to create language-learning software for the Chitimacha, Navajo, Iñupiaq, Inuttitut, and Mohawk languages. I received my B.A. in linguistics from The College of William &amp; Mary in 2008, and my M.A. in linguistics from the University of California, Santa Barbara in 2015.
    </p>

    <img id=singing src=/img/singing.jpg alt='a Kisii elder singing'>

    <p>
      On this site, you'll find <a href=/cv>my CV</a>, <a href=/blog>updates</a> regarding my fieldwork and publications, and information on <a href=/research>my research</a> and the <a href=/languages>languages I work with</a>.
    </p>

    <p>
      <a href=https://blog.danielhieber.com/subscribe/ target=_blank>Subscribe to my blog</a>, follow me on <a href=https://www.facebook.com/dwhieb target=_blank>Facebook</a>, <a href=https://twitter.com/dwhieb target=_blank>Twitter</a>, and <a href=https://www.linkedin.com/in/dwhieb target=_blank>LinkedIn</a>, or <a href=mailto:dwhieb@gmail.com target=_blank>drop me an email</a>ǃ
    </p>

  </section>

</main>
