{{#section 'style'}}
  <link rel=stylesheet href=/css/home.css>
{{/section}}

<main id=home>

  <section id=intro class=doc>

    <img id=gradSlam src=/img/grad_slam.jpg alt='me giving my Grad Slam talk'>

    <p>
      I am a graduate student in linguistics at the <a href=http://www.linguistics.ucsb.edu/ target=_blank>University of California, Santa Barbara</a>. I focus on the <strong>documentation</strong>, <strong>description</strong>, and <strong>revitalization</strong> of languages in the <strong>U.S. Southeast</strong> and <strong>East Africa</strong>, with an eye towards <strong>linguistic typology</strong> and <strong>functional theory</strong>. I work primarily with <a href=/languages/chitimacha>Chitimacha</a> (Sitimaxa), an isolate once spoken in Louisiana and now being revived by the Chitimacha Tribe based on archival materials, and <a href=/languages/kisii}}>Kisii</a> (Ékegusií), an underdocumented and endangered Bantu language of western Kenya, where I do fieldwork.
    </p>

    <p>
      Prior to graduate school, I was a linguist with the software company <a href=http://www.rosettastone.com/ target=_blank>Rosetta Stone</a>, where I worked in their <a href=http://www.rosettastone.com/endangered target=_blank>Endangered Language Program</a> to create language-learning software for the Chitimacha, Navajo, Iñupiaq, Inuttitut, and Mohawk languages. I received my B.A. in linguistics from The College of William &amp; Mary in 2008, and my M.A. in linguistics from the University of California, Santa Barbara in 2015.
    </p>

    <img id=singing src=/img/singing.jpg alt='a Kisii elder singing'>

    {{!-- Add links to blog in following paragraphs once it's up. --}}

    <p>
      On this site, you’ll find <a href=/cv>my CV</a>, information on <a href=/research>my research</a> and the <a href=/languages>languages I work with</a>, <a href=/teaching>courses I’ve taught</a>, and various <a href=/bibliographies>bibliographies</a> I keep up to date.
    </p>

    <p>
      Follow me on <a href=https://www.facebook.com/dwhieb target=_blank>Facebook</a>, <a href=https://twitter.com/dwhieb target=_blank>Twitter</a>, and <a href=https://www.linkedin.com/in/dwhieb target=_blank>LinkedIn</a>, or <a href=mailto:dhieber@umail.ucsb.edu target=_blank>drop me an email</a>ǃ
    </p>

  </section>

  <aside>

    {{> links}}

    {{!-- <section id=posts>
      <h1>Recent Posts</h1>
      <ol></ol>
    </section> --}}

  </aside>

</main>

{{#section 'script'}}

  {{!-- Include the Ghost API --}}
  {{!-- <script src=https://blog.danielhieber.com/shared/ghost-url.js charset=utf-8></script> --}}

  {{!-- Load the most recent blog posts --}}
  {{!-- <script src=/js/widgets/posts.js charset=utf-8></script> --}}

{{/section}}
