.bibliography-page {
  margin-bottom: 50rem;
}
.bibliography-page a:link {
  color: black;
  border-bottom: 1px solid white;
}
.bibliography-page a:visited {
  color: black;
  border-bottom: 1px solid white;
}
.bibliography-page a:hover {
  border-bottom: 1px solid black;
}
.bibliography-page a:active {
  color: black;
}
.bibliography-page .abstract,
.bibliography-page .notes {
  margin: 0rem 0rem 1rem 3rem;
}
.bibliography-page .bibliography .section-header {
  flex-direction: column;
}
.bibliography-page .citation {
  display: inline;
  margin-bottom: 0.125em;
  margin-left: 3rem;
  text-indent: -3rem;
}
.bibliography-page .citation summary a:link {
  color: #3180E1;
  border-bottom: 1px solid white;
}
.bibliography-page .citation summary a:visited {
  color: #3180E1;
  border-bottom: 1px solid white;
}
.bibliography-page .citation summary a:hover {
  border-bottom: 1px solid #3180E1;
}
.bibliography-page .citation summary a:active {
  color: #3180E1;
}
.bibliography-page p a:link {
  color: #3180E1;
  border-bottom: 1px solid white;
}
.bibliography-page p a:visited {
  color: #3180E1;
  border-bottom: 1px solid white;
}
.bibliography-page p a:hover {
  border-bottom: 1px solid #3180E1;
}
.bibliography-page p a:active {
  color: #3180E1;
}
.bibliography-page .section header {
  flex-direction: row;
  justify-content: space-between;
}
.bibliography-page .section-header {
  border-bottom: 2px solid black;
  font-variant: small-caps;
  font-weight: bold;
  margin: 0.5em 0em;
}
.bibliography-page strong {
  color: black;
}
@media screen and (min-width: 700px) {
  .bibliography-page {
    padding: 1.5rem 10%;
  }
}
