main .abstract,
main .notes {
  margin: 0rem 0rem 1rem 3rem;
}
main .abstract strong,
main .notes strong {
  color: black;
}
main .citation {
  display: inline;
  margin-bottom: 0.125em;
  margin-left: 3rem;
  text-indent: -3rem;
}
main section h1,
main section h2,
main section h3 {
  border-bottom: 2px solid black;
  font-variant: small-caps;
  font-weight: bold;
  margin: 0.5em 0em;
}
main section h2 {
  align-self: center;
}
main section ol,
main section ul {
  list-style: circle outside none;
  margin-left: 2rem;
}
main section ol li,
main section ul li {
  display: list-item;
  padding-top: 0.25rem;
}
@media screen and (min-width: 700px) {
  main {
    padding: 1.5rem 10%;
  }
}
