#categoriesAdmin {
  flex-direction: row;
  flex-wrap: wrap;
}
#categoriesAdmin h1 {
  width: 100%;
}
#categoryList button {
  align-items: center;
  background-color: #3180E1;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  justify-content: center;
  padding: 0.5rem 1rem;
}
#categoryList button:hover,
#categoryList button:focus {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}
#categoryList button:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
}
#categoryList li {
  flex-direction: row;
  justify-content: space-between;
  margin: 0.25rem 0rem;
}
#categoryList li p {
  cursor: pointer;
}
#categoryList li img {
  cursor: pointer;
  height: 1.5rem;
  visibility: hidden;
}
#categoryList li:hover img {
  visibility: visible;
}
#details {
  align-items: stretch;
  display: none;
  flex-grow: 1;
  padding: 0rem 1rem;
}
#details h2 {
  font-size: 2rem;
  font-weight: bold;
}
#details > div {
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
}
#details > div button {
  align-items: center;
  background-color: #3180E1;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  justify-content: center;
  padding: 0.5rem 1rem;
  margin: 0rem 0.5rem;
}
#details > div button:hover,
#details > div button:focus {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}
#details > div button:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
}
#details > div #deleteButton {
  background-color: #E23B32;
}
@media screen and (max-width: 699px) {
  #categoryManagement {
    width: 100%;
  }
}
@media screen and (min-width: 700px) {
  #categoryManagement {
    width: 40%;
  }
}
