#categoriesAdmin {
  flex-direction: row;
  flex-wrap: wrap;
}
#categoriesAdmin h1 {
  padding: 1rem;
  width: 100%;
}
#overview button {
  align-items: center;
  background-color: #3180E1;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  justify-content: center;
  padding: 0.5rem 1rem;
}
#overview button:hover,
#overview button:focus {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}
#overview button:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
}
#overview li {
  cursor: pointer;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.25rem 0rem;
}
#overview li img {
  cursor: pointer;
  height: 1.5rem;
  visibility: hidden;
}
#overview li:hover img {
  visibility: visible;
}
#details {
  align-items: stretch;
  display: none;
  flex-grow: 1;
  padding: 0rem 1rem;
}
#details #name,
#details #id,
#details #description {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px #ddd;
  padding: 0.25rem 0.5rem;
}
#details #name:focus,
#details #id:focus,
#details #description:focus {
  border-color: #3180E1;
  box-shadow: inset 0 1px 3px rgba(49, 128, 225, 0.5);
}
#details #name:focus:invalid,
#details #id:focus:invalid,
#details #description:focus:invalid {
  border-color: #E23B32;
  box-shadow: inset 0 1px 3px rgba(226, 59, 50, 0.5);
  color: #e23b32;
}
#details #name[disabled],
#details #id[disabled],
#details #description[disabled] {
  background-color: #eaeded;
  color: #cad2d3;
  cursor: not-allowed;
}
#details #name {
  font-size: 2rem;
  font-weight: bold;
}
#details label > p {
  font-weight: bold;
}
#details label[for=id] {
  align-items: center;
  flex-direction: row;
  padding: 1rem 0rem 0.5rem 0rem;
}
#details label[for=id] input {
  margin-left: 0.5rem;
}
#details > div {
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
}
#details > div button {
  align-items: center;
  background-color: #3180E1;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  justify-content: center;
  padding: 0.5rem 1rem;
  margin: 0rem 0.5rem;
}
#details > div button:hover,
#details > div button:focus {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}
#details > div button:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
}
#details > div #deleteButton {
  background-color: #E23B32;
}
@media screen and (max-width: 699px) {
  #overview {
    width: 100%;
  }
}
@media screen and (min-width: 700px) {
  #overview {
    width: 40%;
  }
}
