#chitimacha section h1 {
  border-bottom: 2px solid black;
  font-variant: small-caps;
  font-weight: bold;
  margin: 0.5em 0em;
}
#chitimacha section ol {
  list-style: circle outside none;
  margin-left: 2rem;
}
#chitimacha section ol li {
  display: list-item;
  padding-top: 0.25rem;
}
