button {
  align-items: center;
  background-color: #3180E1;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  justify-content: center;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
}
button:hover,
button:focus {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}
button:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
}
button,
#buttons {
  align-self: center;
}
#buttons {
  flex-direction: row;
}
#overview > h1,
#details > h1 {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.5rem 0rem;
}
#overview li {
  align-items: center;
  cursor: pointer;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.25rem 0rem;
}
#overview li img {
  height: 1.5em;
  visibility: hidden;
}
#overview li:hover img {
  visibility: visible;
}
#formItems legend {
  font-weight: bold;
}
#formItems label[for=publicationType] {
  order: 1;
}
#formItems label[for=author] {
  order: 2;
}
#formItems label[for=title] {
  order: 3;
}
#formItems label[for=autonym] {
  order: 4;
}
#formItems label[for=organization] {
  order: 5;
}
#formItems label[for=program] {
  order: 6;
}
#formItems label[for=role] {
  order: 7;
}
#formItems label[for=date] {
  order: 8;
}
#formItems label[for=startYear] {
  order: 9;
}
#formItems label[for=endYear] {
  order: 10;
}
#formItems label[for=year] {
  order: 11;
}
#formItems label[for=publication] {
  order: 12;
}
#formItems label[for=abbreviation] {
  order: 13;
}
#formItems label[for=key] {
  order: 14;
}
#formItems label[for=name] {
  order: 15;
}
#formItems label[for=email] {
  order: 16;
}
#formItems label[for=phone] {
  order: 17;
}
#formItems label[for=proficiencyType] {
  order: 18;
}
#formItems label[for=location] {
  order: 19;
}
#formItems label[for=competency] {
  order: 20;
}
#formItems fieldset[name=categories] {
  order: 21;
}
#formItems fieldset[name=links] {
  order: 22;
}
#formItems label[for=description] {
  order: 23;
}
#formItems fieldset[name=achievements] {
  order: 24;
}
#deleteButton {
  background-color: #E23B32;
}
main > header > h1 {
  align-self: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
label[for=cv-type] {
  align-self: flex-end;
}
@media screen and (max-width: 699px) {
  main > * {
    padding-bottom: 1rem;
  }
  #overview > h1,
  #details > h1 {
    align-self: center;
  }
  #list {
    align-self: center;
  }
}
@media screen and (min-width: 700px) {
  main {
    flex-direction: row;
    flex-wrap: wrap;
  }
  main header {
    width: 100%;
  }
  #overview {
    width: 40%;
  }
  #details {
    width: 60%;
  }
}
