#home .link:link {
  color: #E23281;
  font-weight: bold;
  border-bottom: 2px solid white;
}
#home .link:visited {
  color: #E23281;
  font-weight: bold;
  border-bottom: 2px solid white;
}
#home .link:hover {
  border-bottom: 2px solid #E23281;
}
#home .link:active {
  color: #E23281;
  font-weight: bold;
}
#home #intro {
  align-items: center;
}
#home #intro p {
  font-size: 150%;
}
#home #intro a:link {
  color: #E23281;
  font-weight: bold;
  border-bottom: 2px solid white;
}
#home #intro a:visited {
  color: #E23281;
  font-weight: bold;
  border-bottom: 2px solid white;
}
#home #intro a:hover {
  border-bottom: 2px solid #E23281;
}
#home #intro a:active {
  color: #E23281;
  font-weight: bold;
}
#home #singing {
  padding: 0.5rem 0rem 1.5rem 0rem;
}
#home #posts h1 {
  background-color: #9232E2;
  border-radius: 0.25rem;
  color: white;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
}
#home #posts li {
  border: 1px solid black;
  border-radius: 0.5rem;
  margin: 0.5rem 0rem;
  padding: 1rem;
}
#home #posts li > a {
  align-items: center;
  display: flex;
}
#home #posts div {
  padding-top: 0.5rem;
}
#home #posts h2 {
  font-weight: bold;
}
#home #posts time {
  font-style: italic;
  padding-bottom: 0.5rem;
}
#home #posts span,
#home #posts .error-fallback {
  color: #3180E1;
  font-weight: bold;
}
#home #posts span:hover,
#home #posts .error-fallback:hover {
  border-bottom: 2px solid #9232E2;
}
@media screen and (max-width: 699px) {
  #gradSlam {
    height: 15rem;
    margin: 0.5rem auto 1.5rem auto;
  }
  #singing {
    width: 100%;
  }
  aside > * {
    padding-top: 1rem;
  }
  aside h1 {
    font-size: 1.25rem;
  }
  #posts {
    order: 1;
  }
  #profile-links {
    order: 2;
  }
}
@media screen and (min-width: 700px) {
  #home {
    flex-direction: row;
  }
  #home #intro {
    padding: 1rem;
    width: 70%;
  }
  #home aside {
    width: 30%;
  }
  #home #gradSlam {
    float: left;
    margin: 0.5rem 1.5rem 1.5rem 0rem;
    width: 50%;
  }
  #home #singing {
    margin: auto;
    width: 75%;
  }
}
