.link:link {
  color: #E13180;
  font-weight: bold;
  border-bottom: 2px solid white;
}
.link:visited {
  color: #E13180;
  font-weight: bold;
  border-bottom: 2px solid white;
}
.link:hover {
  border-bottom: 2px solid #E13180;
}
.link:active {
  color: #E13180;
  font-weight: bold;
}
#home {
  align-items: center;
}
#home p {
  font-size: 150%;
}
#home a:link {
  color: #3180E1;
  font-weight: bold;
  border-bottom: 2px solid white;
}
#home a:visited {
  color: #3180E1;
  font-weight: bold;
  border-bottom: 2px solid white;
}
#home a:hover {
  border-bottom: 2px solid #3180E1;
}
#home a:active {
  color: #3180E1;
  font-weight: bold;
}
#home a:link {
  color: #E13180;
  font-weight: bold;
  border-bottom: 2px solid white;
}
#home a:visited {
  color: #E13180;
  font-weight: bold;
  border-bottom: 2px solid white;
}
#home a:hover {
  border-bottom: 2px solid #E13180;
}
#home a:active {
  color: #E13180;
  font-weight: bold;
}
#singing {
  padding: 0.5rem 0rem 1.5rem 0rem;
}
@media screen and (max-width: 699px) {
  #gradSlam {
    height: 15rem;
    margin: 0.5rem auto 1.5rem auto;
  }
}
@media screen and (min-width: 700px) {
  #intro {
    width: 70%;
  }
  #gradSlam {
    float: left;
    margin: 0.5rem 1.5rem 1.5rem 0rem;
    width: 50%;
  }
  #singing {
    margin: auto;
    width: 75%;
  }
}
