[lang=ipa] {
  font-family: 'Gentium Plus';
}
.rollover > span[lang=ipa] {
  display: none;
}
.rollover:hover > span[lang=ipa] {
  display: flex;
}
.rollover:hover > span[lang=eng] {
  display: none;
}
