#publications {

  .cv-item-title,
  .description,
  .doi,
  {
    display: inline;
  }

  .cv-item-content {
    display: block;
  }

}

@media print {

  .links {
    display: none;
  }

  #publications-unpublished {
    display: none;
  }

}

@media screen {
  #publications {

    .doi {
      a {
        font-weight: var(--font-weight);
      }
    }

    .full-link {
      display: none;
    }

    .links {
      a {
        font-weight: var(--font-weight);
      }
    }

  }

}
