<nav id=contents aria-labelledby=contents-heading>

  <h2 id=contents-heading class=header-purple>Contents</h2>

  <ol>
    {{#each CVTypes}}
      <li><a href=#{{id}}>{{header}}</a></li>
    {{/each}}
  </ol>

</nav>
