<section id=memberships class=cv-section>

  {{> cv/section-header/index 'Memberships'}}

  <ol>
    {{#each CVItems.memberships}}
      <li id='{{cvid}}' class='cv-item cv-item-content'>
        <p class=cv-item-title><a href='{{links.org}}'>{{organization}}{{#if abbreviation}} ({{abbreviation}}){{/if}}</a></p>
      </li>
    {{/each}}
  </ol>

</section>
