.cv-header {
  margin-bottom: 0.5em;
  text-align:    center;
}

.mailing-address {
  margin: 1em 0em;
}

@media screen {

  .cv-header {
    a {
      font-weight: var(--font-weight);
    }
  }

  #headshot {
    border-radius: var(--border-radius);
    box-shadow:    0rem 0rem 0.225rem black;
    height:        20vw;
    margin:        1rem;
    width:         20vw;
    z-index:       1;
  }

  @media (max-width: 699px) {
    #headshot {
      align-self: center;
    }
  }

  @media (min-width: 700px) {

    body {
      position: relative;
    }

    h1 {
      margin-top: 0.5em;
    }

    #headshot {
      position: absolute;
      right:    0;
      top:      3.5em;
    }

  }

}

@media print {

  .cv-header {
    page-break-inside: avoid;
  }

  #headshot {
    display: none;
  }

}
