<header class=cv-header>

  <img
    alt='Danny Hieber sitting down smiling at camera'
    height=500px
    id=headshot
    src={{cdn}}/img/headshot.jpg
    width=500px>

  <h1>Daniel W. Hieber</h1>

  <h2><span lang=en-fonipa-x-emic>{{ipaName}}</span></h2>

  <h2>Ph.D. Candidate in Linguistics</h2>

  <h2>University of California, Santa Barbara</h2>

  <address>

    <p><a aria-label='Mailing address: dhieber@ucsb.edu' href=mailto:dhieber@ucsb.edu>dhieber@ucsb.edu</a></p>

    <p><a href=https://danielhieber.com>www.danielhieber.com</a></p>

    <div class=mailing-address>
      <p>Department of Linguistics</p>
      <p>University of California, Santa Barbara</p>
      <p>South Hall 3432</p>
      <p>Santa Barbara, CA 93106-3100</p>
    </div>

  </address>

  <p class=last-updated><i>Last updated:</i> {{lastUpdated}}</p>

  {{> cv/print/index }}

</header>
