.cv-header {

  text-align: center;

  a {
    font-weight: var(--font-weight);
  }

}

h1 {
  font-size:     calc(2.5rem + 0.25vw);
  margin-bottom: -0.25rem;
  margin-top:    0.5em;
}

.mailing-address {
  margin-top: 1em;
}
