<header class=cv-header>

  <h1>Daniel W. Hieber</h1>

  <h2><span lang=en-fonipa-x-emic>ˈdæn.jəl ˈhi.bɚ</span></h2>

  <h2>Ph.D. Candidate in Linguistics</h2>

  <h2>University of California, Santa Barbara</h2>

  <address>

    <p><a href=mailto:dhieber@umail.ucsb.edu>dhieber@umail.ucsb.edu</a></p>

    <p><a href=https://danielhieber.com>www.danielhieber.com</a></p>

    <div class=mailing-address>
      <p>Department of Linguistics</p>
      <p>University of California, Santa Barbara</p>
      <p>South Hall 3432</p>
      <p>Santa Barbara, CA 93106-3100</p>
    </div>

  </address>

</header>
