@import '../components/header/index.less';
@import '../components/section-header/index.less';
@import '../components/education/index.less';
@import (reference) '../../less/classes.less';

.achievements {
  li {
    p {
      display: inline;
    }
  }
}

.bulleted {
  .bulleted;
}

.cv-item {
  // NB: This doesn't work in Prince for some reason
  // Seems like it has to do with floats
  margin-bottom: 0.5rem;
}

.date {
  display:     block;
  white-space: nowrap;
}
