// These styles apply to all versions of the CV (print and screen)
// and are loaded before any other styles

@import (reference) '../../less/classes.less';

.bulleted {
  .bulleted;
}

.date {
  display:     block;
  white-space: nowrap;
}

.description {
  ol, ul {
    .bulleted;
  }
}

h4 {
  margin-top:    0.5em;
  margin-bottom: 0.25em;
}

.unicode {
  .unicode;
}
