/**
 * Print styling for the CV page
 */

/* stylelint-disable
 unit-blacklist,
*/

// LESS variables
// (CSS variables are not supported in Prince v11.3)

@import 'fonts.less';

@blue:              #3180E1;

@font:              'Charis SIL';

@font-size:          10pt;
@font-size-banner:   18pt;
@font-size-large:    12pt;

@link-color-visited: @blue;

@padding-ipa:        0.125em;

@media print {

  @page :first {

    @top-left {
      content: '';
    }

    @top-right {
      content: '';
    }

  }

  @page {

    @bottom-center {
      content:     counter(page);
      font-family: @font;
      font-size:   @font-size;
    }

    @top-left {
      content:     'Curriculum Vitae';
      font-family: @font;
      font-size:   @font-size;
    }

    @top-right {
      content:    'Daniel W. Hieber';
      font-family: @font;
      font-size:   @font-size;
    }

    margin: 1in;
    size:   letter portrait;

  }

  // Elements & Classes

  a {

    &:link,
    &:hover,
    &:visited
    {
      background:    transparent;
      border-bottom: none;
      color:         @blue;
      font-weight:   inherit;
    }

  }

  body {
    font-family: @font;
    font-size:   @font-size;
  }

  .cv-item {
    clear:             both;
    display:           block;
    margin-bottom:     6pt;
    page-break-inside: avoid;
    position:          relative;
  }

  .date {
    clear: left;
    float: left;
    width: 1.25in;
  }

  .date + * {
    margin-left: 1.25in;
    width:       5.25in;
  }

  #footer {
    display: none;
  }

  .header-banner {
    font-size: @font-size-banner;
  }

  .header-section {
    font-size: @font-size-large;
  }

  .header-subsection {
    font-size: @font-size-large;
  }

  [lang$=emic]::before {
    content: '/';
    padding-right: @padding-ipa;
  }

  [lang$=emic]::after {
    content: '/';
    padding-left: @padding-ipa;
  }

  #media {
    display: none;
  }

  #nav {
    display: none;
  }

  // This class refers to the Print / Download link
  .print {
    display: none;
  }

  strong {
    font-weight: bold;
  }

  .unicode {
    font-family: @font;
    font-size:   inherit;
  }

}
