// Screen styling
//
// These styles apply only to screen media. They are applied after general CV styles (cv.less).

@import (reference) 'less/components/index.less';

@media screen {

  // Redefine variables for CV page
  :root {
    --font-size-banner: calc(2.5rem + 0.25vw);
    --measure:          60em;
  }

  .achievements {
    a {
      .link-light;
    }
  }

  #contents {
    left:     0;
    position: absolute;
    top:      3.5rem;
  }

  #cv {

    align-self: center;
    max-width:  var(--measure);
    padding:    var(--padding-main);

    .header-banner {
      .header-banner;
    }

    .header-section {
      .header-section;
    }

  }

  .cv-item {
    flex-direction: row;
    margin-bottom:  0.75rem;
  }

  #teaching .cv-item {
    flex-direction: column;
  }

  .date {
    min-width: 10em;
    width:     10em;
  }

  .full-link {
    display: none;
  }

  // Styling for the Print / Download link
  .print {
    align-self: center;
  }

  @media (max-width: 699px) {

    .cv-item {
      flex-direction: column;
    }

    .cv-item:not(:last-child)::after {
      align-self:       center;
      background-color: #DDD;
      content:          '';
      // for some reason, using rem results in variable heights here
      // stylelint-disable-next-line unit-blacklist
      height:           1px;
      margin:           0.5rem 0rem;
      width:            90%;
    }

    .cv-item-content {
      margin-left: 1em;
    }

  }

  @media (max-width: 999px) {
    #contents {
      display: none;
    }
  }

}
