/* header.less */

/* Styling for the site's main banner / header (doesn't include the nav) */

:root {
  --font-size-header: calc(2rem + 1.5vw);
}

#header {

  align-items: stretch;
  overflow:    hidden;
  padding:     2em 1em;
  position:    relative;

  * {
    text-align: center;
  }

  h1 {
    font-size: var(--font-size-header);
  }

  p {
    font-size: var(--font-size-large);
  }

  // This rule aligns the baseline of the IPA text with the orthographic text
  [lang=en-fonipa-x-emic] {
    margin-bottom: -0.125em;
  }

}

#gallery {
  left:       0;
  max-width:  100%;
  min-height: 100%;
  min-width:  100%;
  opacity:    0.2;
  position:   absolute;
  top:        0;
  transform:  translateY(-35%);
  transition: opacity 0.5s;
  z-index:    -1;
}
