#header {

  align-items: center;
  overflow: hidden;
  padding: 2em 1em;
  position: relative;

  * {
    text-align: center;
  }

  h1 {
    font-size: var(--font-size-header);
  }

  p {
    font-size: var(--font-size-large);
  }

}

#gallery {
  left:       0;
  min-height: 100%;
  min-width:  100%;
  opacity:    0.2;
  position:   absolute;
  top:        0;
  transform:  translateY(-25%);
}
