#nav {

  // Global styling
  background-color: black;
  color: white;

  ul {

    justify-content: space-around;

    // Desktop styling
    @media screen and (min-width: 400px) {
      flex-flow: row wrap;
    }

  }

  li {
    padding: 0.5em;
    white-space: nowrap;
  }

}
