/* nav.less */

/* Styling for the main navigation bar at the top of each page */

#nav {

  // Global styling
  background-color: black;
  color: white;

  ul {
    flex-flow: row wrap;
    justify-content: space-around;
    justify-content: space-evenly;
  }

  li {
    padding: 0.5em 0.75em;
    white-space: nowrap;
  }

  [aria-describedby=current] {

    font-weight: 500;

    svg {
      background-color: white;
      color: black;
    }

  }

  a {
    align-items: center;
    display: flex;
  }

  svg {
    border-radius: 0.25em;
    height: 1em;
    padding: 0.25em;
    width: 1em;
  }

}

// Mobile styling
@media screen and (max-width: 399px) {
  #nav {
    font-size: var(--font-size-small);
  }
}

// Desktop styling
@media screen and (min-width: 400px) {}
