:root {
  --font:             'Fira Sans', Calibri, 'DejaVu Sans', Verdana, Arial, Helvetica, sans-serif;
  --font-size:        calc(1rem + 0.25vw);
  --font-size-header: calc(2rem + 1vw);
  --font-size-large:  calc(1.25rem + 0.25vw);
  --font-weight:      300;
}
