.date {
  display:     block;
  white-space: nowrap;
}

// stylelint-disable unit-blacklist
@media print {
  .date {
    clear: left;
    float: left;
    width: 1.25in;
  }
}

@media screen {
  .date {
    min-width: 10em;
    width:     10em;
  }
}
