{{#head 'links'}}

  <!-- Styling for Links partial -->
  <link rel=preload href={{cdn}}/css/links.css as=style onload="this.rel='stylesheet';">

  <noscript>
    <link rel=stylesheet href={{cdn}}/css/links.css>
  </noscript>

{{/head}}

<nav id=links aria-labelledby=links-heading role=complementary>

  <h2 id=links-heading class=header-purple>Me on the Web</h2>

  <ul>

    <li>
      <a href=http://blog.danielhieber.com>
        <svg class=svg-ghost aria-hidden=true aria-labelledby=title-ghost width=32px>
          <title id=title-ghost>Ghost Blogging Icon</title>
          <use href=#ghost></use>
        </svg>
        <span>Blog</span>
      </a>
    </li>

    <li>
      <a href=https://orcid.org/0000-0002-1411-3773>
        <svg class=svg-orcid aria-hidden=true aria-labelledby=title-orcid width=32px>
          <title id=title-orcid>ORCID Icon</title>
          <use href=#orcid></use>
        </svg>
        <span>orcid.org/0000-0002-1411-3773</span>
      </a>
    </li>

    <li>
      <a href=https://ucsb.academia.edu/DanielHieber>
        <svg class=svg-academia aria-hidden=true aria-labelledby=title-academia width=32px>
          <title id=title-academia>Academia.edu Icon</title>
          <use href=#academia></use>
        </svg>
        <span>Academia.edu</span>
      </a>
    </li>

    <li>
      <a href=https://github.com/dwhieb>
        <svg class=svg-octicon aria-hidden=true aria-labelledby=title-octicon width=32px>
          <title id=title-octicon>GitHub Octicon Icon</title>
          <use href=#octicon></use>
        </svg>
        <span>GitHub</span>
      </a>
    </li>

    <li>
      <a href=https://www.linkedin.com/in/dwhieb/>
      <svg class=svg-linkedin aria-hidden=true aria-labelledby=title-linkedin width=32px>
        <title id=title-linkedin>LinkedIn Icon</title>
        <use href=#linkedin></use>
      </svg>
      <span>LinkedIn</span>
      </a>
    </li>

    <li>
      <a href=https://www.goodreads.com/user/show/15860878-daniel-hieber>
        <svg class=svg-goodreads aria-hidden=true aria-labelledby=title-goodreads width=32px>
          <title id=title-goodreads>Goodreads Icon</title>
          <use href=#goodreads></use>
        </svg>
        <span>Goodreads</span>
      </a>
    </li>

    <li>
      <a href=https://www.facebook.com/dwhieb>
        <svg class=svg-facebook aria-hidden=true aria-labelledby=facebook width=32px>
          <title id=title-facebook>Facebook Icon</title>
          <use href=#facebook></use>
        </svg>
        <span>Facebook</span>
      </a>
    </li>

    <li>
      <a href=https://twitter.com/dwhieb>
        <svg class=svg-twitter aria-hidden=true aria-labelledby=title-twitter width=32px>
          <title id=title-twitter>Twitter Icon</title>
          <use href=#twitter></use>
        </svg>
        <span>@dwhieb</span>
      </a>
    </li>

    <li>
      <a href=skype:dwhieb>
        <svg class=svg-skype aria-hidden=true aria-labelledby=title-skype width=32px>
          <title id=title-skype>Skype Icon</title>
          <use href=#skype></use>
        </svg>
        <span>Skype</span>
      </a>
    </li>

    <li>
      <a href=mailto:dhieber@ucsb.edu>
        <svg class=svg-email aria-hidden=true aria-labelledby=title-email width=32px>
          <title id=title-email>Email Icon</title>
          <use href=#email></use>
        </svg>
        <span>Email</span>
      </a>
    </li>

  </ul>

</nav>
