@import '../less/variables.less';
@import (reference) '../less/classes.less';

.rollover { .rollover; }

/* Phonemic transcriptions */
[lang$=emic] { .phonemic; }

/* IPA transcriptions */
[lang*=fonipa] { .ipa; }

#editor {

  .ui.dropdown {
    float:  right;
    margin: 1em;
  }

  h1 {
    clear: right;
  }

}

#nav {
  ul {
    margin: 0;
  }
}

// Desktop styling
@media screen and (min-width: 700px) {
  #nav {

    position: sticky;
    top:      0;
    z-index:  1;

    ul {
      border-radius: 0em;
    }

  }
}
