{{#section 'semantic'}}

  <!-- Semantic UI styles -->
  <link rel=stylesheet type=text/css href=/semantic/dist/semantic.min.css>

{{/section}}

<main id={{editor}}>

  <nav>
    <ol class='ui list divided plain selection small'>
      {{#each docs}}
        <li class=item><a href='/admin/{{../type}}/{{cvid}}'>{{title}}</a></li>
      {{/each}}
    </ol>
  </nav>

</main>

{{#section 'script'}}

  <!-- jQuery -->
  <script
    src=https://code.jquery.com/jquery-3.1.1.min.js
    integrity=sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=
    crossorigin=anonymous></script>

  <!-- Semantic UI -->
  <script src=/semantic/dist/semantic.min.js></script>

{{/section}}
