/**
 * Fonts used in the print version of the CV page
 */

@import (reference) 'less/variables.less';

@baseURL: '@{cdn}/fonts';

// Charis SIL

@font-face {
  font-family: 'Charis SIL';
  src:
    local('Charis SIL Regular'),
    url('@{baseURL}/CharisSIL-R.woff2') format('woff2'),
    url('@{baseURL}/CharisSIL-R.woff') format('woff');
  font-display: block;
  font-stretch: normal;
  font-style:   normal;
  font-variant: normal;
  font-weight:  normal;
}

@font-face {
  font-family: 'Charis SIL';
  src:
    local('Charis SIL Italic'),
    url('@{baseURL}/CharisSIL-I.woff2') format('woff2'),
    url('@{baseURL}/CharisSIL-I.woff') format('woff');
  font-display: block;
  font-stretch: normal;
  font-style:   italic;
  font-variant: normal;
  font-weight:  normal;
}

@font-face {
  font-family: 'Charis SIL';
  src:
    // local('Charis SIL Bold'),
    url('@{baseURL}/CharisSIL-B.woff2') format('woff2'),
    url('@{baseURL}/CharisSIL-B.woff') format('woff');
  font-display: block;
  font-stretch: normal;
  font-style:   normal;
  font-variant: normal;
  font-weight:  bold;
}

@font-face {
  font-family: 'Charis SIL';
  src:
    local('Charis SIL Bold Italic'),
    url('@{baseURL}/CharisSIL-BI.woff2') format('woff2'),
    url('@{baseURL}/CharisSIL-BI.woff') format('woff');
  font-display: block;
  font-stretch: normal;
  font-style:   italic;
  font-variant: normal;
  font-weight:  bold;
}
