.section-header {

  --border: 0.05em solid black;

  align-items:     center;
  border-bottom:   var(--border);
  border-top:      var(--border);
  flex-direction:  row;
  justify-content: space-between;
  padding:         0.25rem 0rem;

}
