@import (reference) 'less/components/index.less';

#bibliography {

  padding: var(--padding-main);

  .description {
    .description;
  }

  h2 {
    .header-page;
  }

  h3 {

    .header-section;

    margin: 1rem 0rem;

  }

  summary {
    display: block;
  }

}
