{{#head 'error'}}

  <link rel=preload href=/css/error.css as=style onload="this.rel='stylesheet';">

  <noscript>
    <link rel=stylesheet href=/css/error.css>
  </noscript>

{{/head}}

<main id={{id}}>
  <h1 class=page-title>{{statusCode}}: {{error}}</h1>
  <p>{{{message}}}</p>
</main>
