{{!-- HTML for the Error page --}}

{{#head 'error'}}

  <!-- Styling for Error page -->
  <link rel=stylesheet href={{cdn}}/css/error.css>

{{/head}}

<main id=error>
  <h2 class=header-page>{{statusCode}}: {{error}}</h2>
  <p>{{{message}}}</p>
</main>
