/* footer.less */

/* Styling for the site's main footer */

#footer {

  flex-flow:       row wrap;
  font-size:       smaller;
  justify-content: space-around;
  padding:         var(--padding-box);
  text-align:      center;

  p {
    display:   flex;
    max-width: 20em;
    padding:   0.5em;
  }

  .svg-octicon {
    height: 3em;
    width:  3em;
  }

  .svg-cc {
    height: 3em;
    width:  auto;
  }

}
