/* nav.less */

/* Styling for the main navigation bar at the top of each page */

#nav {

  // Global styling
  background-color: black;
  color:            white;
  top:              0;

  ul {
    flex-flow:       row wrap;
    justify-content: space-around;
  }

  li {
    padding: 0.5em 0.75em;
  }

  [aria-describedby=current] {
    border-bottom: var(--line-width) solid white;
  }

  a {
    align-items: center;
    display:     flex;
  }

}

// Desktop styling
@media screen and (min-width: 700px) {
  #nav {
    position: sticky;
  }
}
