<template id=categories-template>

  <fieldset name=categories tabindex=21>

    <legend>Categories</legend>

    <label>
      <input type=checkbox name='' value=''>
      <i></i>
    </label>

  </fieldset>

</template>
