<template id=competency-template>

  <label for=competency>

    <b>Competency</b>

    <select id=competency name=competency tabindex=20>
      <option value=beginner>beginner</option>
      <option value=intermediate>intermediate</option>
      <option value=advanced>advanced</option>
      <option value='structural knowledge'>structural knowledge</option>
    </select>

  </label>

</template>
