<template id=date-template>

  <fieldset name=date>

    <legend>Date</legend>
    <input id=date type=date name=date required tabindex=8>

    <label for=forthcoming>
      <b>Forthcoming</b>
      <input id=forthcoming type=checkbox name=forthcoming>
    </label>

  </fieldset>

</template>
