<template id=endYear-template>

  <label for=endYear>

    <b>End Year</b>

    <input
      id=endYear
      placeholder='YYYY | "present"'
      name=endYear
      type=text
      tabindex=10
    >
    <!-- The endYear is required by the data model, but not by the HTML -->

  </label>

</template>
