<template id=files-template>

  <fieldset name=files>

    <legend>Files</legend>

    <ul></ul>

    <label for=file>
      <b>Add a File</b>
    </label>

    <div class=inputs>
      <input id=file type=file name=file accept=.pdf multiple=false>
      <button id=uploadFileButton type=button name=uploadFile>Upload File</button>
    </div>

  </fieldset>

</template>
