<template id=files-template>

  <fieldset name=files>

    <legend>Files</legend>

    <ul></ul>

    <label for=file>
      <b>Add a File</b>
      <input type=file name=file accept=.pdf multiple=false>
    </label>

  </fieldset>

</template>
