<template id=links-template>

  <fieldset name=links>

    <legend>Links</legend>

    <ul>
      <li>

        <select name=linkType tabindex=22>
          <option value=abstract>abstract</option>
          <option value=doi     >doi</option>
          <option value=handout >handout</option>
          <option value=info    >info</option>
          <option value=org     >org</option>
          <option value=pdf     >pdf</option>
          <option value=poster  >poster</option>
          <option value=pub     >pub</option>
          <option value=slides  >slides</option>
          <option value=video   >video</option>
        </select>

        <input type=url name=link placeholder=URL inputmode=url>
        <img src=/img/icons/delete.svg alt='delete this link'>

      </li>
    </ul>

    <button type=button name=addLink>Add Link</button>

  </fieldset>

</template>
