<template id=program-template>

  <label for=program>

    <b>Program</b>

    <input
      id=program
      type=text
      name=program
      placeholder=Program
      inputmode=latin
      tabindex=6
    >

  </label>

</template>
