<template id=publicationType-template>

  <label for=publicationType>

    <b>Publication Type</b>

    <select id=publicationType name=publicationType tabindex=1>
      <option value=book>book</option>
      <option value=edited>edited</option>
      <option value=non-linguistic>non-linguistic</option>
      <option value=online>online</option>
      <option value=peer-reviewed>peer-reviewed</option>
      <option value=presentation>presentation</option>
      <option value=project>project</option>
      <option value=review>review</option>
      <option value=unpublished>unpublished</option>
    </select>

  </label>

</template>
