{{!-- HTML for the /admin page --}}

{{#head 'personal'}}

  <!-- Styling for Admin page -->
  <link rel=stylesheet href={{cdn}}/css/admin.css>

{{/head}}

<main id={{id}} class=toc>

  <h1 class=header-page>Admin</h1>

  <nav>
    <ul>
      <li><a href=/admin/awards>Awards</a></li>
      <li><a href=/admin/bibliographies>Bibliographies</li>
      <li><a href=/admin/categories>Categories</a></li>
      <li><a href=/admin/courses>Courses</a></li>
      <li><a href=/admin/education>Education</a></li>
      <li><a href=/admin/fieldwork>Fieldwork</a></li>
      <li><a href=/admin/languages>Languages</a></li>
      <li><a href=/admin/media>Media</a></li>
      <li><a href=/admin/memberships>Memberships</a></li>
      <li><a href=/admin/proficiencies>Proficiencies</a></li>
      <li><a href=/admin/publications>Publications</a></li>
      <li><a href=/admin/references>References</a></li>
      <li><a href=/admin/service>Service</a></li>
      <li><a href=/admin/work>Work</a></li>
    </ul>
  </nav>

</main>
