/**
 * Styling for the Research page
 */

@import 'views/components/description.less';
@import 'views/components/header-page.less';
@import 'views/components/header-section.less';

#research {

  align-self: center;
  max-width:  var(--measure);
  padding:    var(--padding-main);

  .description {
    padding: 0.5em 0em;
  }

  p {
    padding: var(--padding-text);
  }

}
