@import (reference) 'public/less/main.less';

#categoriesAdmin {
  flex-direction: row;
  flex-wrap: wrap;
  h1 {
    padding: 1rem;
    width: 100%;
  }
}

#overview {
  button { .button; }

  li {
    flex-direction: row;
    justify-content: space-between;
    margin: 0.25rem 0rem;

    p { cursor: pointer; }

    img {
      cursor: pointer;
      height: 1.5rem;
      visibility: hidden;
    }

    &:hover img {
      visibility: visible;
    }

  }

}

#details {
  align-items: stretch;
  display: none;
  flex-grow: 1;
  padding: 0rem 1rem;

  h2, p {
    .editable;
    padding: 0.25rem 0.5rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: bold;
  }

  // buttons
  > div {
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;

    button {
      .button;
      margin: 0rem 0.5rem;
    }

    #deleteButton {
      background-color: @red;
    }
  }
}

// mobile styling
@media screen and (max-width: 699px) {
  #overview { width: 100%; }
}

// desktop styling
@media screen and (min-width: 700px) {
  #overview { width: 40%; }
}
