@import (reference) 'public/less/main.less';

button {
  .button;
  margin: 0.5rem;
}

  button,
  #buttons {
    align-self: center;
  }

  #buttons { flex-direction: row; }

#overview > h1,
#details > h1 {
  font-weight: bold;
  padding: 0.5rem 0rem;
}

#overview {
  li {
    align-items: center;
    cursor: pointer;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.25rem 0rem;

    img {
      .inlineIcon;
      visibility: hidden;
    }

    &:hover img {
      visibility: visible;
    }
  }
}

#deleteButton {
  background-color: @red;
}

// element-specific styling
main > header > h1 { .pageHeader; }

label[for=cv-type] {
  align-self: flex-end;
}

// mobile styling
@media screen and (max-width: 699px) {

  main > * { padding-bottom: 1rem; }

  #overview > h1,
  #details > h1 {
    align-self: center;
  }

  #list {
    align-self: center;
  }

}

// desktop styling
@media screen and (min-width: 700px) {

  main {
    flex-direction: row;
    flex-wrap: wrap;
    header { width: 100%; }
  }

  #overview { width: 40%; }

  #details { width: 60%; }

}
