@import 'views/components/description.less';
@import 'views/components/header-page.less';
@import 'views/components/header-section.less';
@import 'views/components/header-subsection.less';

#teaching {
  align-self: center;
  max-width:  var(--measure);
  padding:    var(--padding-main);
}

.courses > ul > li {
  padding: var(--padding-text);
}
