@import 'views/components/description.less';
@import 'views/components/header-page.less';
@import 'views/components/header-section.less';
@import 'views/components/header-subsection.less';

#teaching {

  align-self: center;
  max-width:  var(--measure);
  padding:    var(--padding-main);

  section:not(:first-of-type) {
    padding-top: 1em;
  }

  section > ul > li {
    padding: var(--padding-text);
  }

  .syllabi > p {
    padding: 1em 0.5em 0em;
  }

}
