{{#head 'cv'}}

  <!-- Styling for CV page -->
  <link rel=preload href={{baseURL}}/css/cv.css as=style onload="this.rel='stylesheet';">

  <noscript>
    <link rel=stylesheet href={{baseURL}}/css/cv.css>
  </noscript>

{{/head}}

<main id={{id}}>

  <h1>Curriculum Vitae</h1>

</main>
