{{#head 'cv'}}

  <!-- Styling for CV page -->
  <link rel=preload media=screen href={{baseURL}}/css/cv-screen.css as=style onload="this.rel='stylesheet';">
  <link rel=preload media=print href={{baseURL}}/css/cv-print.css as=style onload="this.rel='stylesheet';">

  <noscript>
    <link rel=stylesheet media=screen href={{baseURL}}/css/cv-screen.css>
    <link rel=stylesheet media=print href={{baseURL}}/css/cv-print.css>
  </noscript>

{{/head}}

<main id=cv>

  {{> cv/header/index}}

  {{> cv/education/index}}
  {{!-- {{> cv/work}}
  {{> cv/teaching}}
  {{> cv/awards}}
  {{> cv/publications}}
  {{> cv/service}}
  {{> cv/memberships}}
  {{> cv/fieldwork}}
  {{> cv/languages}}
  {{> cv/proficiencies}}
  {{> cv/media}}
  {{> cv/references}} --}}

</main>
