{{#head 'cv'}}

  <!-- Styling for CV page -->
  <link rel=preload href={{baseURL}}/css/cv.css as=style onload="this.rel='stylesheet';">

  <noscript>
    <link rel=stylesheet href={{baseURL}}/css/cv.css>
  </noscript>

{{/head}}

<main id=cv>

  {{> cv/header/index}}

  {{> cv/education CVItems.education}}
  {{> cv/work CVItems.work}}
  {{> cv/teaching CVItems.courses}}
  {{> cv/awards CVItems.awards}}
  {{> cv/publications CVItems.publications}}
  {{> cv/service CVItems.service}}
  {{> cv/memberships CVItems.memberships}}
  {{> cv/fieldwork CVItems.fieldwork}}
  {{> cv/languages CVItems.languages}}
  {{> cv/proficiencies CVItems.proficiencies}}
  {{> cv/media CVItems.media}}
  {{> cv/references CVItems.references}}

</main>
