{{#head 'cv'}}

  <!-- Styling for CV page -->
  <link rel=preload href={{baseURL}}/css/cv.css as=style onload="this.rel='stylesheet';">

  <noscript>
    <link rel=stylesheet href={{baseURL}}/css/cv.css>
  </noscript>

{{/head}}

<main id=cv>

  {{> cv/header/index}}

  {{> cv/education}}
  {{!-- {{> cv/work}}
  {{> cv/teaching}}
  {{> cv/awards}}
  {{> cv/publications}}
  {{> cv/service}}
  {{> cv/memberships}}
  {{> cv/fieldwork}}
  {{> cv/languages}}
  {{> cv/proficiencies}}
  {{> cv/media}}
  {{> cv/references}} --}}

</main>
