/* stylelint-disable
  no-descending-specificity,
*/

@import 'components/header/index.less';
@import 'components/section-header/index.less';
@import 'components/education/index.less';

:root {
  --font-size-banner: calc(2.5rem + 0.25vw);
  --measure:          60em;
}

#cv {
  align-self: center;
}

// Headings
h1 {
  font-size:     var(--font-size-banner);
  margin-bottom: -0.25rem;
  margin-top:    0.5em;
}

h2 {
  font-size: var(--font-size-large);
}

h3 {
  font-size: var(--font-size-header);
}

// Screen styling
@media screen {

  #cv {
    max-width: var(--measure);
    padding:   0rem 2.5rem;
  }

}

// Print styling
@media print {

  :root {

    --font-size:        0.75rem;
    --font-size-banner: 1.5rem;
    --font-size-header: 1.25rem;
    --font-size-large:  1rem;

    --link-color-visited: var(--blue);
  }

  @page {
    @bottom-center {
      content: counter(page);
    }
  }

  #nav {
    display: none;
  }

  .cv-item {
    page-break-inside: avoid;
  }

  #footer {
    display: none;
  }

}
