{{!-- HTML for the CV page --}}

{{#head 'cv'}}

  <!-- Preload critical assets -->
  <link href={{cdn}}/img/headshot.jpg rel=preload as=image type=image/jpeg>
  <link href={{cdn}}/css/cv.css rel=preload as=style type=text/css>

  <!-- Styling for CV page -->
  <link rel=stylesheet href={{cdn}}/css/cv.css>

{{/head}}

{{> cv/contents/index}}

<main id={{id}}>

  {{> cv/header/index}}

  {{> cv/education/index}}
  {{> cv/work/index}}
  {{> cv/teaching/index}}
  {{> cv/awards/index}}
  {{> cv/publications/index}}
  {{> cv/service/index}}
  {{> cv/memberships/index}}
  {{> cv/fieldwork/index}}
  {{> cv/languages/index}}
  {{> cv/proficiencies/index}}
  {{> cv/media/index}}
  {{> cv/references/index}}

  {{> cv/print/index}}

</main>
