/* classes.less */

/*
Styles applied with classes. Use with LESS's (reference) option.
 */

@import (reference) './components/index.less';

.description {

  a {
    font-weight: var(--font-weight);
  }

  ol, ul {
    .bulleted;
  }

  p {
    display: inline;
  }

}

// IPA transcriptions
.ipa {
  .unicode;
}

// Orthographic transcriptions
.orthographic {

  &::before {
    content:       '⟨';
    padding-right: var(--padding-ipa);
  }

  &::after {
    content:      '⟩';
    padding-left: var(--padding-ipa);
  }

}

// Phonemic transcriptions
.phonemic {

  &::before {
    content: '/';
    padding-right: var(--padding-ipa);
  }

  &::after {
    content: '/';
    padding-left: var(--padding-ipa);
  }

}

// Phonetic transcriptions
.phonetic {

  &::before {
    content: '[';
    padding-right: var(--padding-ipa);
  }

  &::after {
    content: ']';
    padding-left: var(--padding-ipa);
  }

}

// IPA rollover text
.rollover {

  position:    relative;
  white-space: nowrap;

  [lang=en-fonipa-x-emic] {
    bottom:     0.025em;
    left:       50%;
    position:   absolute;
    transform:  translateX(-50%);
    visibility: hidden;
  }

  &:hover {

    [lang=en-Latn] {
      visibility: hidden;
    }

    [lang=en-fonipa-x-emic] {
      visibility: visible;
    }

  }

}

// Unicode characters
.unicode {
  font-family: var(--font-unicode);
  font-size:   1.1em;
}

// Accessibly hide content visually
/* stylelint-disable unit-blacklist */
.visually-hidden {
  clip:        rect(1px 1px 1px 1px);
  clip:        rect(1px, 1px, 1px, 1px);
  clip-path:   inset(1px);
  display:     block;
  height:      1px;
  overflow:    hidden;
  position:    absolute;
  white-space: nowrap;
  width:       1px;
}
/* stylelint-enable unit-blacklist */
