/* fonts.less */

/* Font declarations for all fonts used on the site */

@cdn: 'https://cdn.danielhieber.com/fonts';

@font-face {
  font-family: 'Fira Mono';
  src:
    local('Fira Mono Regular'),
    url('@{cdn}/FiraMono-Regular.woff2') format('woff2'),
    url('@{cdn}/FiraMono-Regular.woff') format('woff');
  font-display: swap;
  font-stretch: normal;
  font-style:   normal;
  font-variant: normal;
  font-weight:  normal;
}

@font-face {
  font-family: 'Fira Sans';
  src:
    local('Fira Sans Light'),
    url('@{cdn}/FiraSans-Light.woff2') format('woff2'),
    url('@{cdn}/FiraSans-Light.woff') format('woff');
  font-display: swap;
  font-stretch: normal;
  font-style:   normal;
  font-variant: normal;
  font-weight:  300;
}

@font-face {
  font-family: 'Fira Sans';
  src:
    local('Fira Sans Light Italic'),
    url('@{cdn}/FiraSans-LightItalic.woff2') format('woff2'),
    url('@{cdn}/FiraSans-LightItalic.woff') format('woff');
  font-display: swap;
  font-stretch: normal;
  font-style:   italic;
  font-variant: normal;
  font-weight:  300;
}

@font-face {
  font-family: 'Fira Sans';
  src:
    local('Fira Sans Medium'),
    url('@{cdn}/FiraSans-Medium.woff2') format('woff2'),
    url('@{cdn}/FiraSans-Medium.woff') format('woff');
  font-display: swap;
  font-stretch: normal;
  font-style:   normal;
  font-variant: normal;
  font-weight:  500;
}

@font-face {
  font-family: 'Fira Sans';
  src:
    local('Fira Sans Medium Italic'),
    url('@{cdn}/FiraSans-MediumItalic.woff2') format('woff2'),
    url('@{cdn}/FiraSans-MediumItalic.woff') format('woff');
  font-display: swap;
  font-stretch: normal;
  font-style:   italic;
  font-variant: normal;
  font-weight:  500;
}

@font-face {
  font-family: 'Gentium Plus';
  src:
    local('Gentium Plus Regular'),
    url('@{cdn}/GentiumPlus-Regular.woff2') format('woff2'),
    url('@{cdn}/GentiumPlus-Regular.woff') format('woff');
  font-display: swap;
  font-stretch: normal;
  font-style:   normal;
  font-variant: normal;
  font-weight:  normal;
}

@font-face {
  font-family: 'Gentium Plus';
  src:
    local('Gentium Plus Italic'),
    url('@{cdn}/GentiumPlus-Italic.woff2') format('woff2'),
    url('@{cdn}/GentiumPlus-Italic.woff') format('woff');
  font-display: swap;
  font-stretch: normal;
  font-style:   italic;
  font-variant: normal;
  font-weight:  normal;
}
