/* global.less */

/* A set of global classes that are applied to all stylesheets. */

@import (reference) 'classes.less';

/* IPA transcriptions */
[lang*=fonipa] {
  font-family: var(--font-unicode);
  // font-size: 1.125em;
}

/* Phonemic transcriptions */
[lang$=emic] {

  &::before {
    content: '/';
    padding-right: var(--padding-ipa);
  }

  &::after {
    content: '/';
    padding-left: var(--padding-ipa);
  }

}

/* Phonetic transcriptions */
[lang$=etic] {

  &::before {
    content: '[';
    padding-right: var(--padding-ipa);
  }

  &::after {
    content: ']';
    padding-left: var(--padding-ipa);
  }

}

code {
  font-family: var(--font-mono);
}

p a {

  .link;

  &:not([href*='danielhieber.com']):not(.non-link)::after {
    --icon-width:        0.75em;
    background-image:    url(img/icons/external-link.svg);
    background-repeat:   no-repeat;
    background-position: center;
    background-size:     contain;
    content:             '(external link)';
    display:             inline-block;
    height:              var(--icon-width);
    margin-left:         0.125em;
    overflow:            hidden;
    text-indent:         var(--icon-width);
    white-space:         nowrap;
    width:               var(--icon-width);
  }

  &.non-link { /* stylelint-disable-line selector-no-qualifying-type */

    color:       inherit;
    font-weight: var(--font-weight);

    &:hover {
      border-bottom: var(--underline-transparent);
    }

  }

}

strong {
  font-weight: var(--font-weight-bold);
}
