/* classes.less */

/* A set of global classes that are applied to all stylesheets. */

/* IPA transcriptions */
[lang*=fonipa] {
  font-family: var(--font-unicode);
  // font-size: 1.125em;
}

/* Phonemic transcriptions */
[lang$=emic] {

  &::before {
    content: '/';
    padding-right: var(--padding-ipa);
  }

  &::after {
    content: '/';
    padding-left: var(--padding-ipa);
  }

}

/* Phonetic transcriptions */
[lang$=etic] {

  &::before {
    content: '[';
    padding-right: var(--padding-ipa);
  }

  &::after {
    content: ']';
    padding-left: var(--padding-ipa);
  }

}

code {
  font-family: var(--font-mono);
}

p a {

  background:    transparent;
  border-bottom: var(--underline-transparent);
  color:         var(--link-color);
  font-weight:   var(--font-weight-bold);

  &:link {
    border-bottom: var(--underline-transparent);
    color:         var(--link-color);
  }

  &:hover {
    border-bottom: var(--underline);
    color:         var(--link-color);
  }

  &:visited {
    color: var(--link-color-visited);
  }

  &.non-link { /* stylelint-disable-line selector-no-qualifying-type */

    color:       inherit;
    font-weight: var(--font-weight);

    &:hover {
      border-bottom: var(--underline-transparent);
    }

  }

}

strong {
  font-weight: var(--font-weight-bold);
}
