/* classes.less */

/* A set of global classes that are applied to all stylesheets. */

:root {
  --link-color:            var(--blue);
  --link-color-visited:    var(--purple);
  --padding-ipa:           0.125em;
  --underline:             var(--line-width) solid;
  --underline-transparent: var(--line-width) solid transparent;
}

/* IPA transcriptions */
[lang*=fonipa] {
  font-family:
    'Gentium Plus',
    'Charis SIL',
    'Doulos SIL',
    Andika,
    'Lucida Sans Unicode',
    'Times New Roman',
    Cambria,
    Georgia,
    serif;
  // font-size: 1.125em;
}

/* Phonemic transcriptions */
[lang$=emic] {

  &::before {
    content: '/';
    padding-right: var(--padding-ipa);
  }

  &::after {
    content: '/';
    padding-left: var(--padding-ipa);
  }

}

/* Phonetic transcriptions */
[lang$=etic] {

  &::before {
    content: '[';
    padding-right: var(--padding-ipa);
  }

  &::after {
    content: ']';
    padding-left: var(--padding-ipa);
  }

}

p a {

  background:    transparent;
  border-bottom: var(--underline-transparent);
  color:         var(--link-color);
  font-weight:   var(--font-weight-bold);

  &:link {
    border-bottom: var(--underline-transparent);
    color:         var(--link-color);
  }

  &:hover {
    border-bottom: var(--underline);
    color:         var(--link-color);
  }

  &:visited {
    color: var(--link-color-visited);
  }

  &.non-link { /* stylelint-disable-line selector-no-qualifying-type */

    color:       inherit;
    font-weight: var(--font-weight);

    &:hover {
      border-bottom: var(--underline-transparent);
    }

  }

}
