/* variables.less */

/* CSS custom variables that are used by the main layout (NOT ones used across the site) */

:root {

  --border-radius: 0.25em;
  --border-width:  0.025em;

  --font:
    'Fira Sans',
    Calibri,
    'DejaVu Sans',
    Verdana,
    Arial,
    Helvetica,
    sans-serif;

  --font-unicode:
    'Gentium Plus',
    'Charis SIL',
    'Doulos SIL',
    Andika,
    'Lucida Sans Unicode',
    'Times New Roman',
    Cambria,
    Georgia,
    serif;

  --font-mono:
    'Fira Mono',
    'Consolas',
    'Monaco',
    'DejaVu Sans Mono',
    'Courier New',
    monospace;

  --font-size:        calc(1rem + 0.125vw);
  --font-size-banner: calc(2rem + 1.5vw);
  --font-size-header: calc(1.5rem + 0.25vw);
  --font-size-large:  calc(1.25rem + 0.25vw);
  --font-size-small:  calc(0.75rem + 0.25vw);
  --font-weight:      300;
  --font-weight-bold: 500;

  --link-color:         var(--blue);
  --link-color-visited: var(--purple);

  --line-width: 0.075em;

  --measure: 45em;

  --padding-box:  1.5rem;
  --padding-ipa:  0.125em;
  --padding-main: 0rem 2.5rem;
  --padding-text: 0.25em 0.5em;
  --padding-wide: 0.5em 1em;

  --underline:             var(--line-width) solid;
  --underline-transparent: var(--line-width) solid transparent;

}
