/* main.less */

/* Styling for the main layout */

@import (reference) 'less/classes.less';

html {
  font-size: 100%;
}

body {
  font-family: var(--font);
  font-size:   var(--font-size);
  font-weight: var(--font-weight);
  line-height: 1.5;
  overflow-x:  hidden;
}

main {
  flex-grow: 1;
}

.rollover  {
  .rollover;
}

.skip-link {
  .skip-link;
}
