/**
 * Styling for the CV Proficiences section
 * @type {[type]}
 */

@media screen {

  @media (max-width: 699px) {
    #skills,
    #software
    {
      align-self: center;
      text-align: center;
    }
  }

  @media (min-width: 700px) {
    #proficiencies {

      flex-flow:       row wrap;
      justify-content: space-around;
      margin-bottom:   1em;

      .header-section {
        width: 100%;
      }

    }
  }

}

/* stylelint-disable unit-blacklist */
@media print {

  #proficiencies {
    clear:   both;
    display: block;
  }

  #skills,
  #software
  {
    box-sizing:    border-box;
    margin-bottom: 6pt;
    width:         50%;
  }

  #skills {
    float:       left;
    padding-left: 0.5in;
  }

  #software {
    float:        right;
    padding-right: 0.5in;
  }

}
