/**
 * Styling for the CV Languages section
 */

@media screen {
  #languages {

    ol {
      align-items: center;
    }

    li {
      justify-content: space-between;
      max-width:       30em;
      width:           30em;
    }

  }
}

/* stylelint-disable unit-blacklist */
@media print {
  #languages {

    .cv-item {
      clear: both;
    }

    .competency {
      line-height: 1.75;
      margin-left: 3.25in;
    }

    .language {
      clear:      both;
      float:      left;
    }

  }
}
