/**
 * Styling for bulleted lists
 */

.bulleted {

  list-style:  circle outside;
  margin-left: 1.5rem;

  li {
    display:    list-item;
    margin-top: 0.25em;
  }

  p {
    display:        inline-block;
    vertical-align: top;
  }

  button {
    display: inline-flex;
  }

}
