@import (reference) 'less/components/index.less';

.editor {

  display:   grid;
  font-size: smaller;
  gap:       1em;
  padding:   var(--padding-box);

  grid-template:
    'header header' auto
    'list   form'   auto
    / 30%   auto;

  .buttons {
    .buttons;
  }

  .form {
    .form;
    grid-area: form;
  }

  .header-page {
    .header-page;
    grid-area: header;
  }

  .list {
    .list;
    grid-area: list;
  }

}
