/**
 * Styling for section headers
 */

.header-section {

  // Redefine border for section headers
  --border: 0.04em solid black;

  align-items:     center;
  border-bottom:   var(--border);
  border-top:      var(--border);
  flex-direction:  row;
  font-size:       var(--font-size-header);
  justify-content: space-between;
  padding:         0.25rem 0rem;

  a {
    .link;
  }

}
